<loading-block loading-status="$ctrl.loadingAppStatus">
    <loading>
        <spinner type="'circle'"/>
    </loading>
    <success>
        <div class="pull-right">
            <button ng-if="$ctrl.rdStatuses[$ctrl.order.documentStatusCode] === 'Проект'" class="btn btn-primary" ng-click="$ctrl.createRelated()">
                Создать связанный РД
            </button>
            <button class="btn btn-primary" ng-click="$ctrl.createCopy()" my-auth="OASI_ADMORDER_COPYBUTTON">
                Создать копию
            </button>
        </div>
        <div class="m-b-xs">
            <h3 class="m-t-md">
                {{$ctrl.order.documentTypeValue}} № {{$ctrl.order.documentNumber}} от
                {{$ctrl.order.documentDate | date: "dd.MM.yyyy"}}
            </h3>
            <h2 class="m-t-sm semibold">{{$ctrl.order.documentContent}}</h2>
            <div class="m-t m-b">
                <span class="label label-{{$ctrl.order.documentStatusColor}} m-r-sm">
                    {{$ctrl.order.documentStatusValue}}
                </span>
                <small ng-if="$ctrl.order.documentExpireDate">
                    <span class="semibold">Дата аннулирования: {{$ctrl.order.documentExpireDate | date: "dd.MM.yyyy" }}</span>
                </small>
            </div>
        </div>
        <div ng-if="!$ctrl.editingOrder">
        	<uib-tabset template-url="app/components/common/tabs.html"> 	
				<uib-tab heading="Карточка" index="'card'">
		            <card-view order-promise="$ctrl.orderPromise"
		                       edit="$ctrl.editOrder(val)"
		            />		            
				</uib-tab>
				<uib-tab heading="Процесс" index="'process'">
					<card-process order-promise="$ctrl.orderPromise"></card-process>
				</uib-tab>
				<uib-tab heading="Визовый экземпляр" index="'approvals'">
					<card-approvals order-promise="$ctrl.orderPromise"></card-approvals>
				</uib-tab>
                <uib-tab heading="Связанные документы" index="'related'">
                    <card-related order-promise="$ctrl.orderPromise"></card-related>
                </uib-tab>
                <uib-tab heading="История изменения документа" index="'document-history'" ng-if="$ctrl.hasAdminPermission()">
                    <card-history order-promise="$ctrl.orderPromise"></card-history>
                </uib-tab>
                <uib-tab heading="JSON редактор документа" index="'document-json-editor'" ng-if="$ctrl.hasAdminPermission()">
                    <card-json-editor order-promise="$ctrl.orderPromise"></card-json-editor>
                </uib-tab>
            </uib-tabset>
        </div>
        <div ng-if="$ctrl.editingOrder">
            <card-edit order-promise="$ctrl.orderPromise"
                       save-order="$ctrl.saveOrder(document)"
                       cancel="$ctrl.cancelEditOrder()"
            />
        </div>
    </success>
    <error>
        <span class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span></span>
    </error>
</loading-block>
