<div class="inmodal">
    <div class="my-modal-header">
        <h4>
            Ранее созданный РД -
            <a ui-sref="app.adm-order.order({id: linked.documentID})" ng-click="cancel()">
                {{linked.documentTypeValue}}
            </a>
            не был зарегистрирован.
        </h4>
    </div>
    <div class="my-modal-footer modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Ок</button>
    </div>
</div>
