<div class="inmodal">
    <div class="modal-header">
        <h3 class="modal-title">Добавление согласующего</h3>
    </div>
    <div class="modal-body" style="background:white; overflow-x: auto">
        <approval-list-add
          agreed="$ctrl.agreed"
          document-type-code="$ctrl.documentTypeCode"
          except="$ctrl.except"
          due-date="$ctrl.dueDate"></approval-list-add>
    </div>
    <div class="modal-footer">
        <button type="button" ng-if="$ctrl.agreed.length > 0" class="btn btn-primary" ng-click="$ctrl.add()" ng-disabled="!$ctrl.isValid()">Добавить согласующих</button>
        <button type="button" class="btn btn-white" ng-click="$ctrl.cancel()">Отменить</button>
    </div>
</div>
