<loading-block loading-status="$ctrl.loadingStatus">
	<loading> <spinner type="'circle'"/> </loading>
	<success>
	<form method="get" class="form-horizontal" name="orderFinalizationForm">
		<h4 class="m-t-lg">Замечания</h4>
		<div class="form-group">
			<label class="col-lg-3 col-md-3 col-sm-3 control-label">
				ФИО и должность
			</label>
			<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
				{{$ctrl.declineInfo.user}}
			</div>
		</div>
		<div class="form-group" ng-if="$ctrl.declineInfo.approvalType">
			<label class="col-lg-3 col-md-3 col-sm-3 control-label">
				Вид действия
			</label>
			<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
				{{$ctrl.declineInfo.approvalType}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 col-md-3 col-sm-3 control-label">
				Дата замечания
			</label>
			<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
				{{$ctrl.declineInfo.approvalFactDate | date: "dd.MM.yyyy HH:mm"}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 col-md-3 col-sm-3 control-label">
				Комментарий
			</label>
			<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
				{{$ctrl.declineInfo.approvalNote}}
			</div>
		</div>
		<div class="form-group" ng-if="$ctrl.declineInfo.files">
			<label class="col-lg-3 col-md-3 col-sm-3 control-label">
				Файл
			</label>
			<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
				<div ng-repeat="file in $ctrl.declineInfo.files">
					<ex-file file-info="{ nameFile: file.fileName,
								          idFile:   file.fileID,
								          sizeFile: file.fileSize,
								          dateFile: file.fileDate,
								          signed:   file.fileSigned}"
							 show-size="true"
							 show-date="true"
					></ex-file>
				</div>
			</div>
		</div>
		<hr/>
		<process-prepare-edit order="$ctrl.order" loading="$ctrl.loading"></process-prepare-edit>
		<h4 class="m-t-lg">
			Лист согласования
			<span ng-if="$ctrl.order.approval.approvalCycle.approvalCycleNum !== '1'">
				({{$ctrl.order.approval.approvalCycle.approvalCycleNum}})
			</span>
		</h4>
		<approval-list-edit order="$ctrl.order" task-info="$ctrl.taskInfo" enableDoubleAgree="true"></approval-list-edit>

		<h4 class="m-t-lg">Проект РД</h4>


		<div ng-if="$ctrl.isApplication()">
			<div class="form-group">
				<div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД (без приложения)</div>
				<div class="col-lg-7 col-md-8 col-sm-9">
					<button type="button"
							class="btn btn-sm btn-primary"
							ng-click="$ctrl.createDraftFilesWithoutAtt()"
							ladda="$ctrl.creatingDraftFilesWithoutAtt"
							data-spinner-size="18"
							data-spinner-color="#FFFFFF"
							data-style="expand-right"
							ng-disabled="$ctrl.sendingToApproval"
					>
						<i class="fa m-r-xs"></i>Сформировать проект РД
					</button>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-3 col-md-3 col-sm-3"></div>
				<div class="col-lg-7 col-md-8 col-sm-9">
					<a>
						<div class="dropzone ex-dropzone"
							 options="$ctrl.dzDraftFilesWithoutAttOptions"
							 callbacks="$ctrl.dzDraftFilesWithoutAttCallbacks"
							 methods="$ctrl.dzDraftFilesWithoutAttMethods"
							 ng-dropzone
						>
						</div>
					</a>
				</div>
			</div>

			<div class="form-group" ng-if="$ctrl.order.draftFilesWithoutAtt">
				<label class="col-lg-3 col-md-3 col-sm-3"></label>
				<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
					<ex-file file-info="{ nameFile: $ctrl.order.draftFilesWithoutAtt.draftFilesName,
								  	  	  idFile:   $ctrl.order.draftFilesWithoutAtt.draftFilesID,
								  	  	  sizeFile: $ctrl.order.draftFilesWithoutAtt.draftFilesSize,
								  	  	  dateFile: $ctrl.order.draftFilesWithoutAtt.draftFilesDate,
								  	  	  signed:   $ctrl.order.draftFilesWithoutAtt.draftFilesSigned}"
							 show-size="true"
							 show-date="true"
							 deletable="true"
							 on-remove="$ctrl.deleteDraftFilesWithoutAtt()"
					></ex-file>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-3 col-md-3 col-sm-3 control-label">Приложение</div>
				<div class="col-lg-7 col-md-8 col-sm-9">
					<a>
						<div class="dropzone ex-dropzone"
							 options="$ctrl.dzDraftFilesAttOptions"
							 callbacks="$ctrl.dzDraftFilesAttCallbacks"
							 methods="$ctrl.dzDraftFilesAttMethods"
							 ng-dropzone
						>
						</div>
					</a>
				</div>
			</div>

			<div class="form-group" ng-if="$ctrl.order.attach">
				<label class="col-lg-3 col-md-3 col-sm-3"></label>
				<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
					<ex-file file-info="{ nameFile: $ctrl.order.attach.draftFilesName,
								  	  	  idFile:   $ctrl.order.attach.draftFilesID,
								  	  	  sizeFile: $ctrl.order.attach.draftFilesSize,
								  	  	  dateFile: $ctrl.order.attach.draftFilesDate,
								  	  	  signed:   $ctrl.order.attach.draftFilesSigned}"
							 show-size="true"
							 show-date="true"
							 deletable="true"
							 on-remove="$ctrl.deleteDraftFilesAtt()"
					></ex-file>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД</div>
				<div class="col-lg-7 col-md-8 col-sm-9">
					<button type="button"
							class="btn btn-sm btn-primary"
							ng-click="$ctrl.combineDraftFile()"
							ladda="$ctrl.combiningDraftFile"
							data-spinner-size="18"
							data-spinner-color="#FFFFFF"
							data-style="expand-right"
							ng-disabled="!$ctrl.order.draftFilesWithoutAtt || $ctrl.sendingToApproval">
						<i class="fa m-r-xs"></i>Сформировать проект РД с приложением
					</button>
				</div>
			</div>

		</div>


		<div ng-if="!$ctrl.isApplication()">

			<div class="form-group">
				<div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД</div>
				<div class="col-lg-7 col-md-8 col-sm-9">
					<button type="button"
							class="btn btn-sm btn-primary"
							ng-click="$ctrl.saveAndCreateDraftFile()"
							ladda="$ctrl.creatingDraftFile"
							data-spinner-size="18"
							data-spinner-color="#FFFFFF"
							data-style="expand-right"
							ng-disabled="$ctrl.sendingToApproval"
					>
						<i class="fa m-r-xs"></i>Сформировать проект РД
					</button>
				</div>
			</div>

		</div>


		<div class="form-group" ng-if="$ctrl.order.draftFiles">
			<label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
			<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
				<ex-file file-info="{ nameFile: $ctrl.order.draftFiles.draftFilesName,
								  	  idFile:   $ctrl.order.draftFiles.draftFilesID,
								  	  sizeFile: $ctrl.order.draftFiles.draftFilesSize,
								  	  dateFile: $ctrl.order.draftFiles.draftFilesDate,
								  	  signed:   $ctrl.order.draftFiles.draftFilesSigned}"
						 show-size="true"
						 show-date="true"
						 deletable="true"
						 on-remove="$ctrl.deleteDraftFiles()"
				></ex-file>
			</div>
		</div>

		<process-approval-history history="$ctrl.order.approvalHistory"></process-approval-history>

		<br/>
		<div class="form-group">
			<div class="col-lg-3 col-md-3 col-sm-3"></div>
			<div class="col-lg-7 col-md-8 col-sm-9">
				<button type="button" class="btn btn-sm btn-default m-b-xs" ng-click="$ctrl.saveDocument()">
					<i class="fa m-r-xs"></i>Сохранить данные без завершения задачи
				</button>
				<button type="button"
						class="btn btn-sm btn-primary m-b-xs"
						ng-disabled="!orderFinalizationForm.$valid"
						ng-click="$ctrl.saveAndSendToApproval()"
						ladda="$ctrl.sendingToApproval" data-spinner-size="18"
						data-spinner-color="#FFFFFF" data-style="expand-right"
				>
					<i class="fa m-r-xs"></i>Направить документ на повторное согласование
				</button>
			</div>
		</div>
	</form>
	</success>
	<error>
		<span class="text-danger"><span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span></span>
	</error>
</loading-block>
