<loading-block loading-status="$ctrl.loadingStatus">
    <loading>
        <spinner type="'circle'"/>
    </loading>
    <success>
    
    	<process-order-info order="$ctrl.order" task-info="$ctrl.taskInfo"></process-order-info>
    	
    	<hr/>
    	
		<h4 class="m-t">Распорядительный документ</h4>

		<div ng-if="$ctrl.order.files">
			<div ng-repeat="file in $ctrl.order.files">
				<ex-file file-info="{ nameFile: file.fileName,
									  idFile:   file.fileID,
								      sizeFile: file.fileSize,
								      dateFile: file.fileDate,
								      signed:   file.fileSigned}"
						 show-size="true"
						 show-date="true"
				></ex-file>
			</div>
		</div>
		

		<form method="get" class="form-horizontal" name="orderApproveForm">

			<div class="form-group">
				<div class="col-lg-3 col-md-3 col-sm-3"></div>
				<div class="col-lg-7 col-md-8 col-sm-9">
					<button type="button" class="btn btn-sm btn-success" ng-click="$ctrl.execute()" ladda="$ctrl.submitting" data-spinner-size="18" data-spinner-color="#FFFFFF"
						data-style="expand-right">
						<i class="fa m-r-xs"></i>Исполнено
					</button>
				</div>
			</div>		
			
		</form>    	
    	
    </success>
    <error>
        <span class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span></span>
    </error>
</loading-block>    	