<loading-block loading-status="$ctrl.loadingStatus">
    <loading>
        <spinner type="'circle'"/>
    </loading>
    <success>
    
    	<process-order-info order="$ctrl.order" task-info="$ctrl.taskInfo"></process-order-info>
    	
    	<hr/>
    	
		<h4 class="m-t">Проект приказа</h4>

		<div ng-if="$ctrl.order.draftFiles">
			<ex-file file-info="{ nameFile: $ctrl.order.draftFiles.draftFilesName,
								  idFile:   $ctrl.order.draftFiles.draftFilesID,
								  sizeFile: $ctrl.order.draftFiles.draftFilesSize,
								  dateFile: $ctrl.order.draftFiles.draftFilesDate,
								  signed:   $ctrl.order.draftFiles.draftFilesSigned}"
					 show-size="true"
					 show-date="true"
			></ex-file>
		</div>

		<div class="m-t" ng-if="$ctrl.order.draftFilesRegInfo">
			<h4>Приказ на подпись</h4>
			<div>
				<div>
					<ex-file file-info="{ nameFile: $ctrl.order.draftFilesRegInfo.fileName,
								  		  idFile:   $ctrl.order.draftFilesRegInfo.fileID,
								  		  sizeFile: $ctrl.order.draftFilesRegInfo.fileSize,
								  		  dateFile: $ctrl.order.draftFilesRegInfo.fileDate,
								  		  signed:   $ctrl.order.draftFilesRegInfo.fileSigned}"
							 show-size="true"
							 show-date="true"
					></ex-file>
				</div>
			</div>
		</div>
		
		<h4 class="m-t-lg">Отсканированная копия приказа</h4>

				
		<form method="get" class="form-horizontal" name="orderApproveForm">
		
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Отсканированная копия
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
	                <a>
	                    <div class="dropzone" id="file-dropzone" name="file-dropzone">
	                        <div class="dz-message m-t-lg m-b-lg">Загрузить файл</div>
	                    </div>
	                </a>
	                <div ng-if="$ctrl.order.files">
	                	<div ng-repeat="file in $ctrl.order.files">
							<ex-file file-info="{ nameFile: file.fileName,
								  	  	  	      idFile:   file.fileID,
								  	  	  		  sizeFile: file.fileSize,
								  	  	  		  dateFile: file.fileDate,
								  	  	  		  signed:   file.fileSigned}"
									 show-size="true"
									 show-date="true"
									 deletable="true"
									 on-remove="$ctrl.deleteFile(fileInfo)"
							></ex-file>
	                	</div>
	                </div>	                
                </div>
            </div>
		
			<div class="form-group">
				<div class="col-lg-3 col-md-3 col-sm-3"></div>
				<div class="col-lg-7 col-md-8 col-sm-9">
					<button type="button" class="btn btn-sm btn-success" ng-disabled="!$ctrl.order.files || $ctrl.order.files.length === 0 || !$ctrl.attached" ng-click="$ctrl.execute()" ladda="$ctrl.submitting" data-spinner-size="18" data-spinner-color="#FFFFFF"
						data-style="expand-right">
						<i class="fa m-r-xs"></i>Исполнено
					</button>
				</div>
			</div>		
			
		</form>    	
    	
    </success>
    <error>
        <span class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span></span>
    </error>
</loading-block>    	
