<loading-block loading-status="$ctrl.loadingStatus">
    <loading>
        <spinner type="'circle'"/>
    </loading>
    <success>
    
    	<process-order-info order="$ctrl.order" task-info="$ctrl.taskInfo"></process-order-info>
    	
    	<hr />
    	
    	<h4 class="m-t">Регистрация документа</h4>
    	
    	<form method="get" class="form-horizontal">
    	
    		<div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Регистрационный номер
                </label>
                <div class="col-lg-4 col-md-6 col-sm-9">
					<input name="documentNumber" ng-model="$ctrl.order.documentNumber" type="text" class="form-control" disabled>
				</div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Дата документа
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <date-selector ng-model="$ctrl.order.documentDate">
                    </date-selector>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Регистратор
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <ui-select ng-model="$ctrl.order.registar"
                    		   ng-disabled="'true'"
                               limit="1"
                               theme="bootstrap">
                        <ui-select-match placeholder="Регистратор">{{$select.selected.fio}}</ui-select-match>
                        <ui-select-choices repeat="item in $ctrl.registrars track by item.accountName | userFilter: $select.search">
                            {{item.fio}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>            
    		
    	
    	</form>
    	
    	<hr/>
    	
		<h4 class="m-t">Проект приказа</h4>

		<div ng-if="$ctrl.order.draftFiles">
            <ex-file file-info="{ nameFile: $ctrl.order.draftFiles.draftFilesName,
								  idFile:   $ctrl.order.draftFiles.draftFilesID,
								  sizeFile: $ctrl.order.draftFiles.draftFilesSize,
								  dateFile: $ctrl.order.draftFiles.draftFilesDate,
								  signed:   $ctrl.order.draftFiles.draftFilesSigned}"
                     show-size="true"
                     show-date="true"
            ></ex-file>
		</div>	
				
		<div ng-if="$ctrl.order.approval.approvalCycle.approvalCycleNum && $ctrl.order.approval.approvalCycle.approvalCycleNum !== '1'">
			<h4 class="m-t">Лист согласования ({{$ctrl.order.approval.approvalCycle.approvalCycleNum}})</h4>
		</div>
		<div ng-if="!$ctrl.order.approval.approvalCycle.approvalCycleNum || $ctrl.order.approval.approvalCycle.approvalCycleNum === '1'">
			<h4 class="m-t">Лист согласования</h4>
		</div>
		<approval-list list="$ctrl.order.approval.approvalCycle"></approval-list>
		
		<process-approval-history history="$ctrl.order.approvalHistory"></process-approval-history>
		
		<div class="center m-t-md">
            <button type="button" class="btn btn-sm btn-success m-b-xs" ng-click="$ctrl.registerDocument()" data-spinner-size="18" data-spinner-color="#FFFFFF" ladda="$ctrl.sending">
                <i class="fa m-r-xs"></i>Зарегистрировать
            </button>
		</div>
    	
    </success>
    <error>
        <span class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span></span>
    </error>
</loading-block>    	