<loading-block loading-status="$ctrl.loadingStatus">
    <loading>
        <spinner type="'circle'"/>
    </loading>
    <success>
    
    	<process-order-info order="$ctrl.order" task-info="$ctrl.taskInfo"></process-order-info>

        <div class="m-t-md">
            <h4>Проект приказа</h4>
        </div>

		<div ng-if="$ctrl.order.draftFiles">
            <ex-file file-info="{ nameFile: $ctrl.order.draftFiles.draftFilesName,
								  idFile:   $ctrl.order.draftFiles.draftFilesID,
								  sizeFile: $ctrl.order.draftFiles.draftFilesSize,
								  dateFile: $ctrl.order.draftFiles.draftFilesDate,
								  signed:   $ctrl.order.draftFiles.draftFilesSigned}"
                     show-size="true"
                     show-date="true"
            ></ex-file>
		</div>

        <div class="m-t-md" ng-if="$ctrl.order.draftFilesRegInfo">
            <h4>Приказ на подпись</h4>

            <div>
                <div>
                    <ex-file file-info="{ nameFile: $ctrl.order.draftFilesRegInfo.fileName,
								          idFile:   $ctrl.order.draftFilesRegInfo.fileID,
								          sizeFile: $ctrl.order.draftFilesRegInfo.fileSize,
								          dateFile: $ctrl.order.draftFilesRegInfo.fileDate,
								          signed:   $ctrl.order.draftFilesRegInfo.fileSigned}"
                             show-size="true"
                             show-date="true"
                    ></ex-file>
                </div>
            </div>
        </div>

        <div class="m-t-md" ng-if="$ctrl.order.approval.approvalCycle.approvalCycleNum && $ctrl.order.approval.approvalCycle.approvalCycleNum !== '1'">
			<h4>Лист согласования ({{$ctrl.order.approval.approvalCycle.approvalCycleNum}})</h4>
		</div>
		<div class="m-t-md" ng-if="!$ctrl.order.approval.approvalCycle.approvalCycleNum || $ctrl.order.approval.approvalCycle.approvalCycleNum === '1'">
			<h4>Лист согласования</h4>
		</div>
        <div class="m-b-xs">
            <a type="button" class="btn btn-sm btn-success" href="{{$ctrl.getApprovalReportUrl()}}" target="_blank">
                <i class="fa m-r-xs"></i>Сформировать лист согласования
            </a>
        </div>
		<approval-list list="$ctrl.order.approval.approvalCycle"></approval-list>
		
		<process-approval-history history="$ctrl.order.approvalHistory"></process-approval-history>
		
		<h4 class="m-t-lg">Ваше решение</h4> 
		
		<form method="get" class="form-horizontal">
		
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Дата подписания
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <date-selector ng-model="$ctrl.signingFactDate">
                    </date-selector>
                </div>
            </div>		
		
<!--            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Комментарий
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <textarea class="form-control our-control"
                    		  name="noteText"
                              rows="2"
                              ng-model="$ctrl.noteText">
                    </textarea>
                </div>
            </div>	-->
            
<!--            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Файл
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
	                <a>
	                    <div class="dropzone" id="file-dropzone" name="file-dropzone">
	                        <div class="dz-message m-t-lg m-b-lg">Загрузить файл</div>
	                    </div>
	                </a>
                	<div ng-repeat="file in $ctrl.getSigninigOnPaper().File">
	                	<file-preview file-name="file.fileName" file-size="file.fileSize"
							file-date="file.fileDate" file-id="file.fileID"
							file-signed="file.fileSigned"
							can-delete="'true'" delete-file="$ctrl.deletePaperFile(file.fileID)"/>	                	
                	</div>
                </div>
            </div>	-->
            
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <button type="button" class="btn btn-sm btn-success" ng-click="$ctrl.signed()"
                    	ladda="$ctrl.sendingToRegistration" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right"
                   	>
                        <i class="fa m-r-xs"></i>Документ подписан
                    </button>                                 
<!--                    <button type="button" class="btn btn-sm btn-danger" ng-click="$ctrl.sendBackToWork()"
                    	ladda="$ctrl.sendingBackToWork" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right"
                   	>
                        <i class="fa m-r-xs"></i>На доработку
                    </button>  -->
                </div>
            </div>            
		
		</form>				    	
    	
    </success>
    <error>
        <span class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span></span>
    </error>
</loading-block>
