<loading-block loading-status="$ctrl.loadingStatus"> <loading> <spinner type="'circle'"/> </loading> <success>
<form method="get" class="form-horizontal" name="orderPrepareForm">

	<process-prepare-edit order="$ctrl.order" loading="$ctrl.loading" prereg-fields="true" is-prereg="$ctrl.isPrereg()" has-prereg-permission="$ctrl.hasPreregPermission" account="$ctrl.account" ></process-prepare-edit>

	<h4 class="">Лист согласования</h4>
	<approval-list-edit order="$ctrl.order" task-info="$ctrl.taskInfo"></approval-list-edit>

	<div class="m-t-lg"><h4>Проект РД</h4></div>

	<div ng-if="$ctrl.isApplication()">
		<div class="form-group">
			<div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД (без приложения)</div>
			<div class="col-lg-7 col-md-8 col-sm-9">
				<button type="button"
						class="btn btn-sm btn-primary"
						ng-click="$ctrl.createDraftFilesWithoutAtt()"
						ladda="$ctrl.creatingDraftFilesWithoutAtt"
						data-spinner-size="18"
						data-spinner-color="#FFFFFF"
						data-style="expand-right"
						ng-disabled="$ctrl.sendingToApproval || $ctrl.sendingToRegistration"
				>
					<i class="fa m-r-xs"></i>Сформировать проект РД
				</button>
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-3 col-md-3 col-sm-3"></div>
			<div class="col-lg-7 col-md-8 col-sm-9">
				<a>
					<div class="dropzone ex-dropzone"
						 options="$ctrl.dzDraftFilesWithoutAttOptions"
						 callbacks="$ctrl.dzDraftFilesWithoutAttCallbacks"
						 methods="$ctrl.dzDraftFilesWithoutAttMethods"
						 ng-dropzone
					>
					</div>
				</a>
			</div>
		</div>

		<div class="form-group" ng-if="$ctrl.order.draftFilesWithoutAtt">
			<label class="col-lg-3 col-md-3 col-sm-3"></label>
			<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
				<ex-file file-info="{ nameFile: $ctrl.order.draftFilesWithoutAtt.draftFilesName,
								  	  idFile:   $ctrl.order.draftFilesWithoutAtt.draftFilesID,
								  	  sizeFile: $ctrl.order.draftFilesWithoutAtt.draftFilesSize,
								  	  dateFile: $ctrl.order.draftFilesWithoutAtt.draftFilesDate,
								  	  signed:   $ctrl.order.draftFilesWithoutAtt.draftFilesSigned}"
						 show-size="true"
						 show-date="true"
						 deletable="true"
						 on-remove="$ctrl.deleteDraftFilesWithoutAtt()"
				></ex-file>
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-3 col-md-3 col-sm-3 control-label">Приложение</div>
			<div class="col-lg-7 col-md-8 col-sm-9">
				<a>
					<div class="dropzone ex-dropzone"
						 options="$ctrl.dzDraftFilesAttOptions"
						 callbacks="$ctrl.dzDraftFilesAttCallbacks"
						 methods="$ctrl.dzDraftFilesAttMethods"
						 ng-dropzone>
					</div>
				</a>
			</div>
		</div>

		<div class="form-group" ng-if="$ctrl.order.attach">
			<label class="col-lg-3 col-md-3 col-sm-3"></label>
			<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
				<ex-file file-info="{ nameFile: $ctrl.order.attach.draftFilesName,
								  	  idFile:   $ctrl.order.attach.draftFilesID,
								  	  sizeFile: $ctrl.order.attach.draftFilesSize,
								  	  dateFile: $ctrl.order.attach.draftFilesDate,
								  	  signed:   $ctrl.order.attach.draftFilesSigned}"
						 show-size="true"
						 show-date="true"
						 deletable="true"
						 on-remove="$ctrl.deleteDraftFilesAtt()"
				></ex-file>
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД</div>
			<div class="col-lg-7 col-md-8 col-sm-9">
				<button type="button"
						class="btn btn-sm btn-primary"
						ng-click="$ctrl.combineDraftFile()"
						ladda="$ctrl.combiningDraftFile"
						data-spinner-size="18"
						data-spinner-color="#FFFFFF"
						data-style="expand-right"
						ng-disabled="!$ctrl.order.draftFilesWithoutAtt || $ctrl.sendingToApproval || $ctrl.sendingToRegistration"
				>
					<i class="fa m-r-xs"></i>Сформировать проект РД с приложением
				</button>
			</div>
		</div>

	</div>

	<div ng-if="!$ctrl.isApplication()">

		<div class="form-group">
			<div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект РД</div>
			<div class="col-lg-7 col-md-8 col-sm-9">
				<button type="button"
						class="btn btn-sm btn-primary"
						ng-click="$ctrl.saveAndCreateDraftFile()"
						ladda="$ctrl.creatingDraftFile"
						data-spinner-size="18"
						data-spinner-color="#FFFFFF"
						data-style="expand-right"
						ng-disabled="$ctrl.sendingToApproval || $ctrl.sendingToRegistration"
				>
					<i class="fa m-r-xs"></i>Сформировать проект РД
				</button>
			</div>
		</div>

	</div>

	<div class="form-group" ng-if="$ctrl.order.draftFiles">
		<label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
		<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
			<ex-file file-info="{ nameFile: $ctrl.order.draftFiles.draftFilesName,
								  idFile:   $ctrl.order.draftFiles.draftFilesID,
								  sizeFile: $ctrl.order.draftFiles.draftFilesSize,
								  dateFile: $ctrl.order.draftFiles.draftFilesDate,
								  signed:   $ctrl.order.draftFiles.draftFilesSigned}"
					 show-size="true"
					 show-date="true"
					 deletable="true"
					 on-remove="$ctrl.deleteDraftFiles()"
			></ex-file>
		</div>
	</div>

	<div class="form-group">
		<div class="col-lg-3 col-md-3 col-sm-3"></div>
		<div class="col-lg-7 col-md-8 col-sm-9">
			<button type="button" class="btn btn-sm btn-default m-b-xs" ng-click="$ctrl.saveDocument()" ladda="$ctrl.saving" data-spinner-size="18"
				data-spinner-color="#AAAAAA" data-style="expand-right">
				<i class="fa m-r-xs"></i>Сохранить данные без завершения задачи
			</button>
			<button type="button"
					class="btn btn-sm btn-primary m-b-xs"
					ng-disabled="!orderPrepareForm.$valid || $ctrl.sendingToRegistration || $ctrl.approvalListIsValid()"
					ng-click="$ctrl.saveAndSendToApproval()"
					ladda="$ctrl.sendingToApproval"
					data-spinner-size="18"
					data-spinner-color="#FFFFFF"
					data-style="expand-right"
			>
				<i class="fa m-r-xs"></i>Направить документ на согласование
			</button>
			<button ng-if="$ctrl.canViewRegButton"
					type="button"
					class="btn btn-sm btn-primary m-b-xs"
					ng-disabled="!orderPrepareForm.$valid || $ctrl.sendingToApproval || $ctrl.approvalListIsValid()"
					ng-click="$ctrl.saveAndSendToRegistration()"
					ladda="$ctrl.sendingToRegistration"
					data-spinner-size="18"
					data-spinner-color="#FFFFFF"
					data-style="expand-right"
			>
				<i class="fa m-r-xs"></i>Направить документ на регистрацию
			</button>
		</div>
	</div>

</form>
</success> <error> <span class="text-danger"><span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span></span> </error> </loading-block>
