<loading-block loading-status="$ctrl.loadingStatus">
    <success>
		<h4 class="">Проект приказа</h4>

		<div ng-if="$ctrl.order.draftFiles">
			<ex-file file-info="{ nameFile: $ctrl.order.draftFiles.draftFilesName,
                                  idFile:   $ctrl.order.draftFiles.draftFilesID,
								  sizeFile: $ctrl.order.draftFiles.draftFilesSize,
								  dateFile: $ctrl.order.draftFiles.draftFilesDate,
								  signed:   $ctrl.order.draftFiles.draftFilesSigned}"
					 show-size="true"
					 show-date="true"
			></ex-file>
		</div>
		
		<div ng-if="$ctrl.order.approval.approvalCycle.approvalCycleNum && $ctrl.order.approval.approvalCycle.approvalCycleNum !== '1'">
			<h4 class="m-t-lg">Лист согласования ({{$ctrl.order.approval.approvalCycle.approvalCycleNum}})</h4>
		</div>
		<div ng-if="!$ctrl.order.approval.approvalCycle.approvalCycleNum || $ctrl.order.approval.approvalCycle.approvalCycleNum === '1'">
			<h4 class="m-t-lg">Лист согласования</h4>
		</div>
		<approval-list list="$ctrl.order.approval.approvalCycle"></approval-list>
		
	    <div ng-show="$ctrl.order.approvalHistory.approvalCycle.length > 0" ng-repeat="approval in $ctrl.order.approvalHistory.approvalCycle | orderBy:'-'">
	        <h4 ng-init="cycleShow = false" style="outline: none" ng-click="cycleShow = !cycleShow" class="m-t-md">
	            <i style="margin-right: 5px;" class="fa fa-caret-right" ng-show="cycleShow === false"></i>
	            <i style="margin-right: 5px;" class="fa fa-angle-down" ng-show="cycleShow === true"></i> Предыдущий цикл согласования от {{approval.approvalCycleDate | date:'dd.MM.yyyy'}}
	        </h4>
	        <div ng-show="cycleShow" style="margin-left:20px;">
				<div ng-if="approval.approvalCycleFile" class="">Проект приказа</div>

				<div ng-if="approval.approvalCycleFile" ng-repeat="approvalFile in approval.approvalCycleFile">
					<ex-file file-info="{ nameFile: approvalFile.fileName,
                                  		  idFile:   approvalFile.fileID,
								  		  sizeFile: approvalFile.fileSize,
								  		  dateFile: approvalFile.fileDate,
								  		  signed:   approvalFile.fileSigned}"
							 show-size="true"
							 show-date="true"
					></ex-file>
				</div>

	        	<approval-list list="approval"></approval-list>

	        </div>
	    </div>		
		
    </success>
    <error>
        <div class="m-t-md">
            <span class="fa fa-times-circle text-danger"></span>
            <span> Ошибка</span>
        </div>
    </error>
    <loading>
		<spinner type="'circle'"/>
    </loading>
</loading-block>