<loading-block loading-status="$ctrl.loadingOrderStatus">
    <loading>
        <spinner type="'circle'"/>
    </loading>
    <success>
        <div class="description">
            <dl class="dl-horizontal">
                <dt ng-if="$ctrl.hasAccessRight"><span>Проект РД</span></dt>
                <dd ng-if="$ctrl.hasAccessRight">
                    <span ng-if="!$ctrl.order.draftFiles" class="not-specified">отсутствует</span>
                    <span ng-if="$ctrl.order.draftFiles" ng-init="draftFile = $ctrl.order.draftFiles">

                        <ex-file file-info="{ nameFile: draftFile.draftFilesName,
                                              idFile:   draftFile.draftFilesID,
								              sizeFile: draftFile.draftFilesSize,
								              dateFile: draftFile.draftFilesDate,
								              signed:   draftFile.draftFilesSigned}"
                                 show-size="true"
                                 show-date="true"
                        ></ex-file>

                    </span>
                    <div class="clearfix"></div>
                </dd>
                <dt ng-if="$ctrl.hasAccessRight"><span>Отсканированный образ</span></dt>
                <dd ng-if="$ctrl.hasAccessRight">
                    <span ng-if="!$ctrl.order.files || !$ctrl.order.files.length"
                          class="not-specified">отсутствует</span>
                    <span ng-if="$ctrl.order.files.length === 1" ng-repeat="file in $ctrl.order.files">
                        <ex-file file-info="{ nameFile: file.fileName,
								  	  	      idFile:   file.fileID,
								  	  	      sizeFile: file.fileSize,
								  	  	      dateFile: file.fileDate,
								  	  	      signed:   file.fileSigned}"
                                 show-size="true"
                                 show-date="true"
                                 deletable="$ctrl.canDeleteFile"
                                 on-remove="$ctrl.deleteDocument(fileInfo)"
                        ></ex-file>
                    </span>
                    <div class="clearfix"></div>
                </dd>

                <dt>
                    <span>Подписание в электронном виде</span>
                </dt>
                <dd>
                    <span ng-if="!$ctrl.order.signingElectronically">Нет</span>
                    <span ng-if="$ctrl.order.signingElectronically">Да</span>
                </dd>

                <div ng-if="$ctrl.order.documentThemeValue">
                    <dt><span>Тема</span></dt>
                    <dd>{{$ctrl.order.documentThemeValue}}</dd>
                </div>

                <dt ng-if="$ctrl.hasAccessRight">
                    <span>Текст приказа</span>
                </dt>
                <dd ng-if="$ctrl.hasAccessRight">
                    {{$ctrl.order.documentText}}
                </dd>

                <dt>
                    <span>Номер связанного документа</span>
                </dt>
                <dd>
                    <span ng-if="!$ctrl.order.approvedDocumentNumber" class="not-specified">отсутствует</span>
                    <a ng-if="$ctrl.order.approvedDocumentNumber && $ctrl.extDocLink" ng-href="{{$ctrl.extDocLink}}">
                        {{$ctrl.order.approvedDocumentNumber}}
                    </a>
                    <span ng-if="$ctrl.order.approvedDocumentNumber && !$ctrl.extDocLink">{{$ctrl.order.approvedDocumentNumber}}</span>
                </dd>

                <dt ng-if="$ctrl.order.previousDocument"><span>Предыдущий документ</span></dt>
                <dd ng-if="$ctrl.order.previousDocument">
                    <a ui-sref="app.adm-order.order({id: $ctrl.order.previousDocument.previousDocumentID})">
                        {{$ctrl.order.previousDocument.previousDocumentNum}}
                    </a>
                </dd>

                <div ng-if="$ctrl.order.canceledDocument">
                    <dt><span>Аннулируемый документ</span></dt>
                    <dd>
                        {{$ctrl.order.canceledDocument.canceledDocumentType}} №
                        <span ng-if="$ctrl.order.canceledDocument.canceledDocumentID">
                            <a ui-sref="app.adm-order.order({id: $ctrl.order.canceledDocument.canceledDocumentID})">{{$ctrl.order.canceledDocument.canceledDocumentNum}}</a>
                        </span>
                        <span ng-if="!$ctrl.order.canceledDocument.canceledDocumentID">
                            {{$ctrl.order.canceledDocument.canceledDocumentNum}}
                        </span>
                        от {{$ctrl.order.canceledDocument.canceledDocumentDate | date: "dd.MM.yyyy"}}
                    </dd>
                </div>

                <div ng-if="$ctrl.cancelingDocument">
                    <dt><span>Аннулирующий документ</span></dt>
                    <dd>
                        {{$ctrl.cancelingDocument.documentTypeValue}} №
                        <a ui-sref="app.adm-order.order({id: $ctrl.cancelingDocument.documentID})">
                            {{$ctrl.cancelingDocument.documentNumber}}
                        </a> от
                        {{$ctrl.cancelingDocument.documentDate | date: "dd.MM.yyyy"}}
                    </dd>
                </div>

                <div ng-if="$ctrl.order.updatedDocument && $ctrl.order.updatedDocument.length > 0">
                    <dt><span>Уточняемый документ</span></dt>
                    <dd ng-repeat="updatedDocument in $ctrl.order.updatedDocument">
                        {{updatedDocument.updatedDocumentType}} №
                        <span ng-if="updatedDocument.updatedDocumentID">
                            <a ui-sref="app.adm-order.order({id: updatedDocument.updatedDocumentID})">{{updatedDocument.updatedDocumentNum}}</a>
                        </span>
                        <span ng-if="!updatedDocument.updatedDocumentID">
                            {{updatedDocument.updatedDocumentNum}}
                        </span>
                        от {{updatedDocument.updatedDocumentDate | date: "dd.MM.yyyy"}}
                    </dd>
                </div>

                <dt><span>Адрес</span></dt>
                <dd>
                    <span ng-if="!$ctrl.order.address" class="not-specified">отсутствует</span>
                    <span ng-if="$ctrl.order.address">{{$ctrl.order.address}}</span>
                </dd>

                <dt><span>Штрихкод</span></dt>
                <dd>
                    <span ng-if="!$ctrl.order.barcode" class="not-specified">отсутствует</span>
                    <span ng-if="$ctrl.order.barcode">{{$ctrl.order.barcode}}</span>
                </dd>

                <dt><span>Руководитель</span></dt>
                <dd>
                    <span ng-if="!$ctrl.order.head.fio" class="not-specified">отсутствует</span>
                    <span ng-if="$ctrl.order.head.fio">{{$ctrl.order.head.fio}}</span>
                </dd>

                <dt><span>Исполнитель</span></dt>
                <dd>
                    <span ng-if="!$ctrl.order.executor || $ctrl.order.executor.length === 0" class="not-specified">отсутствует</span>
                    <span ng-repeat="executor in $ctrl.order.executor">
                        {{executor.fio}}{{$last ? '' : ', '}}
                    </span>
                </dd>

                <dt><span>Регистратор</span></dt>
                <dd>
                    <span ng-if="!$ctrl.order.registar.fio" class="not-specified">отсутствует</span>
                    <span ng-if="$ctrl.order.registar.fio">{{$ctrl.order.registar.fio}}</span>
                </dd>

                <dt><span>Список почтовой рассылки</span></dt>
                <dd>
                    <span ng-if="!$ctrl.order.mailList || $ctrl.order.mailList.length === 0" class="not-specified">отсутствует</span>
                    <span ng-repeat="recipient in $ctrl.order.mailList">
                    {{recipient.fio}}{{$last ? '' : ', '}}
                    </span>
                </dd>

                <dt><span>Дата и время рассылки</span></dt>
                <dd>
                    <span ng-if="!$ctrl.order.mailDateTime" class="not-specified">отсутствует</span>
                    <span ng-if="$ctrl.order.mailDateTime">
                        {{$ctrl.order.mailDateTime | date: "dd.MM.yyyy HH:mm"}}
                    </span>
                </dd>

                <dt><span>Автор создания карточки</span></dt>
                <dd>{{$ctrl.order.createAuthor.fio}}</dd>

                <dt><span>Дата и время создания карточки</span></dt>
                <dd>{{$ctrl.order.createDateTime | date: "dd.MM.yyyy HH:mm"}}</dd>

                <dt><span>Ответственное управление</span></dt>
                <dd>
                    <span ng-if="!$ctrl.order.responsibleDep.departmentFull" class="not-specified">отсутствует</span>
                    <span ng-if="$ctrl.order.responsibleDep.departmentFull">{{$ctrl.order.responsibleDep.departmentFull}}</span>
                </dd>

                <dt><span>Ответственный исполнитель</span></dt>
                <dd>{{$ctrl.order.responsibleExecutor.fio}}</dd>

                <dt><span>Краткое описание</span></dt>
                <dd>{{$ctrl.order.documentComment}}</dd>

                <dt><span>Публикация на сайте</span></dt>
                <dd>{{$ctrl.order.PublishingSite ? 'Да' : 'Нет'}}</dd>

                <dt ng-if="$ctrl.order.additionalMaterials && $ctrl.order.additionalMaterials.length">
                    <span>Дополнительные материалы</span>
                </dt>
                <dd ng-if="$ctrl.order.additionalMaterials && $ctrl.order.additionalMaterials.length"
                    ng-repeat="file in $ctrl.order.additionalMaterials">

                    <ex-file file-info="{ nameFile: file.fileName,
                                          idFile:   file.fileID,
								          sizeFile: file.fileSize,
								          dateFile: file.fileDate,
								          signed:   file.fileSigned}"
                             show-size="true"
                             show-date="true"
                    ></ex-file>

                </dd>

            </dl>
        </div>

        <div class="pull-right">
            <button class="btn btn-sm btn-default"
                    ng-disabled="$ctrl.isUpdating"
                    ng-click="$ctrl.openServiceInformation()"
            >
                Служебная информация
            </button>
        </div>

        <button my-auth="OASI_ADMORDER_EDITBUTTON"
                class="btn btn-sm btn-primary"
                ng-click="$ctrl.editCard()"
                ng-disabled="$ctrl.isUpdating || $ctrl.isDeleted">
            <i class="fa fa-pencil"></i> Редактировать
        </button>
        <button my-auth="OASI_ADMORDER_EDITBUTTON"
                class="btn btn-sm btn-primary"
                ng-if="$ctrl.canDelete"
                ng-disabled="$ctrl.isUpdating || $ctrl.isDeleted"
                ng-click="$ctrl.deleteCard()">
            <i class="fa fa-pencil"></i> Удалить
        </button>
        <button my-auth="OASI_ADMORDER_SCANBUTTON"
                class="btn btn-sm btn-primary"
                ng-click="$ctrl.openUploadDocument()"
                ng-disabled="$ctrl.isUploadDisabled || $ctrl.isUpdating || $ctrl.isDeleted">
            Приложить отсканированную копию
        </button>
        <button my-auth="OASI_ADMORDER_MAILBUTTON"
                class="btn btn-sm btn-primary"
                ng-click="$ctrl.sendMails()"
                ng-disabled="$ctrl.isSendDisabled || $ctrl.isUpdating || $ctrl.isDeleted">
            <span ng-show="$ctrl.isSending"><i class="glyphicon glyphicon-refresh spinning"></i></span>
            Разослать по электронной почте
        </button>
    </success>
    <error>
        <span class="text-danger">
            <span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span>
        </span>
    </error>
</loading-block>
