<loading-block loading-status="$ctrl.loadingDictStatus">
    <loading>
        <spinner type="'circle'"/>
    </loading>
    <success>
        <form method="get" class="form-horizontal" name="orderEditForm" ng-submit="$ctrl.save()">
            <h4 class="">Регистрационная карточка</h4>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Тип документа <span class="our-mandatory">*</span>
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <select name="documentType"
                            class="form-control our-select"
                            ng-model="$ctrl.order.documentTypeCode"
                            ng-disabled="$ctrl.order.documentNumber"
                            ng-required="true"
                            ng-change="$ctrl.documentTypeChanged()"
                            ng-options="item.DOC_CODE as item.DOC_NAME for item in $ctrl.orderTypes"
                            >
                    </select>
                    <div class="pull-right">
                        <span class="caret our-caret"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Год документа <span class="our-mandatory">*</span>
                </label>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <select name="documentYear" class="form-control our-select"
                            ng-model="$ctrl.order.documentYear"
                            ng-disabled="$ctrl.order.documentNumber"
                            ng-required="true"
                            ng-options="item for item in $ctrl.availableYears"
                    >
                    </select>
                    <div class="pull-right">
                        <span class="caret our-caret"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Содержание <span class="our-mandatory">*</span>
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <textarea class="form-control our-control"
                              rows="2"
                              ng-model="$ctrl.order.documentContent"
                              ng-required="true">
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Тема <span class="our-mandatory">*</span>
                </label>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <select name="theme" class="form-control our-select"
                            ng-model="$ctrl.order.documentThemeCode"
                            ng-change="$ctrl.themeChanged()"
                            ng-required="true"
                            ng-disabled="$ctrl.isThemeDisabled()"
                            ng-options="item.THEME_CODE as item.THEME_NAME for item in $ctrl.availableThemes"
                    >
                        <option value=""></option>
                    </select>
                    <div class="pull-right">
                        <span class="caret our-caret"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Адрес
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <input name="address" type="text" class="form-control"
                           ng-model="$ctrl.order.address">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Номер связанного документа
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <input name="approvedDocumentNumber" type="text" class="form-control"
                           ng-model="$ctrl.order.approvedDocumentNumber">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Аннулируемый документ
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <ui-select ng-model="$ctrl.order.canceledDocument"
                               ng-disabled="$ctrl.isCanceledDocumentDisabled"
                               theme="bootstrap">
                        <ui-select-match placeholder="Аннулируемый документ" allow-clear="true">
                            {{$select.selected.canceledDocumentType}} № {{$select.selected.canceledDocumentNum}} от {{$select.selected.canceledDocumentDate | date: "dd.MM.yyyy"}}
                        </ui-select-match>
                        <ui-select-choices refresh="$ctrl.searchCanceledDocuments($select.search)"
                                           refresh-delay="300"
                                           repeat="item in $ctrl.availableCanceledDocuments">
                            {{item.canceledDocumentType}} № {{item.canceledDocumentNum}} от {{item.canceledDocumentDate | date: "dd.MM.yyyy"}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Уточняемый документ
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <ui-select multiple
                               ng-model="$ctrl.order.updatedDocument"
                               theme="bootstrap">
                        <ui-select-match placeholder="Уточняемый документ">
                            <span ng-if="$item.updatedDocumentNum || $item.updatedDocumentType || $item.updatedDocumentDate">
                                {{$item.updatedDocumentType | limitTo: 60}}
                                {{$item.updatedDocumentNum ? '№ ' + $item.updatedDocumentNum : ''}}
                                {{$item.updatedDocumentDate ? 'от' + ($item.updatedDocumentDate | date: "dd.MM.yyyy") : ''}}
                            </span>
                        </ui-select-match>
                        <ui-select-choices refresh="$ctrl.searchUpdatedDocuments($select.search)"
                                           refresh-delay="300"
                                           repeat="item in $ctrl.availableUpdatedDocuments">
                            {{item.updatedDocumentType}} № {{item.updatedDocumentNum}} от {{item.updatedDocumentDate | date: "dd.MM.yyyy"}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Регистрационный номер
                </label>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="input-group">
                        <input name="documentNumber"
                               ng-model="$ctrl.order.documentNumber"
                               type="text"
                               class="form-control"
                               disabled>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Дата документа
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <date-selector ng-model="$ctrl.order.documentDate">
                    </date-selector>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Дата окончания действия документа
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <date-selector ng-model="$ctrl.order.documentExpireDate">
                    </date-selector>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Штрихкод
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <input name="barcode" type="text" class="form-control"
                           ng-model="$ctrl.order.barcode" disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Ответственное управление
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <ui-select ng-model="$ctrl.order.responsibleDep" theme="bootstrap">
                        <ui-select-match placeholder="Ответственное управление">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices minimum-input-length="0" repeat="item in $ctrl.departments | filter: $select.search">
                            {{item.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Руководитель
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <ui-select multiple
                               ng-model="$ctrl.order.head"
                               limit="1"
                               theme="bootstrap">
                        <ui-select-match placeholder="Руководитель">{{$item.fio}}</ui-select-match>
                        <ui-select-choices repeat="item in $ctrl.executives | userFilter: $select.search">
                            {{item.fio}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Исполнители <span class="our-mandatory">*</span>
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <ui-select multiple
                               ng-model="$ctrl.order.executor"
                               ng-required="true"
                               theme="bootstrap">
                        <ui-select-match placeholder="Исполнители">{{$item.fio}}</ui-select-match>
                        <ui-select-choices repeat="item in $ctrl.executors | userFilter: $select.search">
                            {{item.fio}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Регистратор
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <ui-select multiple ng-model="$ctrl.order.registar"
                               limit="1"
                               theme="bootstrap">
                        <ui-select-match placeholder="Регистратор">{{$item.fio}}</ui-select-match>
                        <ui-select-choices repeat="item in $ctrl.registrars | userFilter: $select.search">
                            {{item.fio}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Группы рассылки
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <ui-select multiple
                               ng-model="$ctrl.selectedEmailGroups"
                               on-select="$ctrl.addEmailGroup($item)"
                               theme="bootstrap">
                        <ui-select-match placeholder="Группы рассылки">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="item in $ctrl.emailGroups">
                        	{{item.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Список почтовой рассылки <span class="our-mandatory">*</span>
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <ui-select multiple
                               ng-model="$ctrl.order.mailList"
                               close-on-select="false"
                               ng-required="true"
                               theme="bootstrap">
                        <ui-select-match placeholder="Введите 2 символа, чтобы начать поиск">{{$item.fio}} ({{$item.email}})</ui-select-match>
                        <ui-select-choices minimum-input-length="2" repeat="item in $ctrl.subscribers | userFilter: $select.search | orderBy: 'fio' | limitTo:30">
                        	<div ng-bind-html="item.fio + ' (' + item.email + ')'"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Краткое описание</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <textarea class="form-control our-control"
                              rows="2"
                              ng-model="$ctrl.order.documentComment">
                    </textarea>
                </div>
            </div>            

            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa fa-pencil m-r-xs"></i>Сохранить
                    </button>

                    <button class="btn btn-sm btn-default" ng-click="$ctrl.cancelEdit()">
                        Отменить
                    </button>
                </div>
            </div>
        </form>
    </success>
    <error>
        <span class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span></span>
    </error>
</loading-block>