<loading-block loading-status="$ctrl.loadingStatus">
    <success>
        <angular-jsoneditor ng-model="$ctrl.orderNew"
                            options="$ctrl.jsonEditorOptions"
                            style="width: 100%; height: 500px;"
        ></angular-jsoneditor>
        <br>
        <button type="button" class="btn btn-default" ng-click="$ctrl.save()">Сохранить измененный документ</button>
    </success>
    <error>
        <div class="m-t-md">
            <span class="fa fa-times-circle text-danger"></span>
            <span> Ошибка</span>
        </div>
    </error>
    <loading>
        <spinner type="'circle'"/>
    </loading>
</loading-block>
