<loading-block loading-status="$ctrl.loadingStatus">
    <success>
        <div class="table-responsive">
            <table class="table table-bordered m-b-bone">
                <thead>
                    <tr>
                        <th class="center">Дата</th>
                        <th class="center">Номер</th>
                        <th class="center">Содержание</th>
                        <th class="center">Файл</th>
                        <th class="center">Состояние</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="doc in $ctrl.relatedDocuments">
                        <td>{{doc.documentDate | date: 'dd.MM.yyyy'}}</td>
                        <td>
                            {{doc.documentNumber}}
                            <br ng-if="doc.documentNumber"/>
                            <small class="text-muted">{{doc.relationType}}</small>
                        </td>
                        <td>
                            <a ui-sref="app.adm-order.order({id: doc.documentID})">
                                {{doc.documentTypeValue}}
                            </a>
                            <br ng-if="doc.documentTypeValue"/>
                            <small class="text-muted">{{doc.documentContent}}</small>
                        </td>
                        <td>
                            <ex-file ng-if="doc.files[0]"
                                     file-info="{ nameFile: doc.files[0].fileName,
								                  idFile:   doc.files[0].fileID,
								                  sizeFile: doc.files[0].fileSize,
								                  dateFile: doc.files[0].fileDate,
								                  signed:   doc.files[0].fileSigned}"
                                     show-size="true"
                                     show-date="true"
                            ></ex-file>
                            <ex-file ng-if="!doc.files[0] && doc.draftFiles"
                                     file-info="{ nameFile: doc.draftFiles.draftFilesName,
								                  idFile:   doc.draftFiles.draftFilesID,
								                  sizeFile: doc.draftFiles.draftFilesSize,
								                  dateFile: doc.draftFiles.draftFilesDate,
								                  signed:   doc.draftFiles.draftFilesSigned}"
                                     show-size="true"
                                     show-date="true"
                            ></ex-file>
                        </td>
                        <td>
                            <span class="label label-{{doc.documentStatusColor}}">
                                {{$ctrl.rdStatus[doc.documentStatusCode]}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <span ng-show="$ctrl.relatedDocuments.length === 0" class="text-danger ng-hide" aria-hidden="true">
            <span class="fa fa-times-circle"></span>
            <span>Связанные документы отсутствуют</span>
        </span>
    </success>
    <error>
        <div class="m-t-md">
            <span class="fa fa-times-circle text-danger"></span>
            <span> Ошибка</span>
        </div>
    </error>
    <loading>
        <spinner type="'circle'"/>
    </loading>
</loading-block>