<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Закрыть</span>
    </button>
    <h3>Служебная информация</h3>
</div>
<div class="modal-body">
    <div class="description">
        <dl class="dl-horizontal">
            <dt><span>Идентификатор документа</span></dt>
            <dd>
                <span ng-if="order.documentID">{{order.documentID}}</span>
                <span ng-if="!order.documentID" class="not-specified">отсутствует</span>
            </dd>

            <dt><span>Идентификатор аннулируемого документа</span></dt>
            <dd>
                <span ng-if="order.canceledDocument.canceledDocumentID">{{order.canceledDocument.canceledDocumentID}}</span>
                <span ng-if="!order.canceledDocument.canceledDocumentID" class="not-specified">отсутствует</span>
            </dd>

            <dt><span>Идентификатор (GUID) папки хранения файлов документа в ОЦХД</span></dt>
            <dd>
                <span ng-if="order.folderID">{{order.folderID}}</span>
                <span ng-if="!order.folderID" class="not-specified">отсутствует</span>
            </dd>

            <dt><span>Идентификатор входящего сообщения ПСО</span></dt>
            <dd>
                <span ng-if="order.psoInputID">{{order.psoInputID}}</span>
                <span ng-if="!order.psoInputID" class="not-specified">отсутствует</span>
            </dd>

            <dt><span>Идентификатор исходящего сообщения ПСО</span></dt>
            <dd>
                <span ng-if="!order.psoOutputID" class="not-specified">отсутствует</span>
                <div ng-repeat="psoId in order.psoOutputID">
                    <span>
                        {{psoId}} <br ng-if="!$last">
                    </span>
                </div>
            </dd>

            <dt><span>Год документа</span></dt>
            <dd>{{order.documentYear}}</dd>
        </dl>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="cancel()">Закрыть</button>
</div>
