<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cancel()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Закрыть</span>
    </button>
    <h3>Загрузка файла</h3>
</div>
<div class="modal-body">
    <div class="description">
        <dl class="dl-horizontal">
            <dt><span>Файл</span></dt>
            <dd>
                <a>
                    <div class="dropzone" id="upload-scan-dropzone" name="upload-scan-dropzone">
                        <div class="dz-message m-t-lg m-b-lg">Загрузить файл</div>
                    </div>
                </a>
                <div class="clearfix"></div>
            </dd>
        </dl>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="$ctrl.cancel()">Закрыть</button>
</div>
