<form role="form" class="form-horizontal" name="miniFilterForm" ng-submit="$ctrl.apply()">
    <div class="form-group">
        <label class="col-lg-2 col-md-2 col-sm-2 control-label">
            Номер документа
        </label>
        <div class="col-lg-8 col-md-9 col-sm-10">
            <input name="docNumber"
                   type="text"
                   class="form-control"
                   placeholder="Номер документа"
                   ng-model="$ctrl.searchFilter.docNumber"
            >
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 col-md-2 col-sm-2 control-label">
            Штрихкод
        </label>
        <div class="col-lg-8 col-md-9 col-sm-10">
            <input name="barcode"
                   type="text"
                   class="form-control"
                   placeholder="Штрихкод"
                   ng-model="$ctrl.searchFilter.barcode"
            >
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-8 col-md-9 col-sm-10">
            <button ng-click="$ctrl.apply()" type="submit" class="btn btn-w-m btn-primary">
                Найти
            </button>
            <button ng-click="$ctrl.cancel()" type="button" class="btn btn-w-m btn-default">
                Отменить все
            </button>
        </div>
    </div>
</form>
