<div class="pull-right">
    <button type="button"
       class="btn btn-sm btn-primary"
       ng-click="$ctrl.attachOriginals()"
    >
        Прикрепить оригиналы
    </button>
    <button type="button" class="btn btn-sm btn-white" ng-class="{'active': $ctrl.viewExtSearch}"
            ng-click="$ctrl.toggleViewExtSearch()">
        <i class="fa m-r-xs"
           ng-class="{'fa-angle-up': $ctrl.viewExtSearch, 'fa-angle-down': !$ctrl.viewExtSearch}">
        </i>
        Расширенный поиск
    </button>
</div>
<h2 class="m-t-md semibold">Ожидают сканирования</h2>
<div ng-if="$ctrl.viewExtSearch">
    <hr />
    <not-scanned-filter apply-filter="$ctrl.setFilter(value)" clear-filter="$ctrl.clearFilter()"/>
</div>
<not-scanned-list/>
