<div class="m-b-md">
    <div class="m-t-md">Всего найдено — {{$ctrl.searchResult.totalElements}}</div>
</div>
<loading-block loading-status="$ctrl.loadingAppStatus">
    <loading>
        <spinner type="'circle'"/>
    </loading>
    <success>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="nowrap">
                            <span ng-click="$ctrl.switchSorting('docType')">
                                Тип документа
                                 <i ng-if="$ctrl.isSorted('docType', $ctrl.sorting)"
                                    class="fa fa-caret-down m-l-xs"
                                    ng-class='{"fa-caret-down": !$ctrl.sortingAsc, "fa-caret-up": $ctrl.sortingAsc}'
                                 ></i>

                                <i ng-if="!$ctrl.isSorted('docType', $ctrl.sorting)"
                                   class="fa fa-angle-down m-l-xs text-muted"></i>
                            </span>
                    </th>
                    <th class="nowrap">
                            <span ng-click="$ctrl.switchSorting('docDate')">
                                Дата
                                <i ng-if="$ctrl.isSorted('docDate', $ctrl.sorting)"
                                   class="fa fa-caret-down m-l-xs"
                                   ng-class='{"fa-caret-down": !$ctrl.sortingAsc, "fa-caret-up": $ctrl.sortingAsc}'
                                ></i>

                                <i ng-if="!$ctrl.isSorted('docDate', $ctrl.sorting)"
                                   class="fa fa-angle-down m-l-xs text-muted"></i>
                            </span>
                    </th>
                    <th class="nowrap">
                            <span ng-click="$ctrl.switchSorting('docNumber')">
                                Номер
                                 <i ng-if="$ctrl.isSorted('docNumber', $ctrl.sorting)"
                                    class="fa fa-caret-down m-l-xs"
                                    ng-class='{"fa-caret-down": !$ctrl.sortingAsc, "fa-caret-up": $ctrl.sortingAsc}'
                                 ></i>

                                <i ng-if="!$ctrl.isSorted('docNumber', $ctrl.sorting)"
                                   class="fa fa-angle-down m-l-xs text-muted"></i>
                            </span>
                    </th>
                    <th class="col-md-5 nowrap">Содержание</th>
                    <th class="nowrap" >
                    	Штрихкод
                    </th>
                    <th class="nowrap" >
                        Отсканированная копия
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in $ctrl.searchResult.content">
                    <td>
                        {{order.documentTypeValue}}
                    </td>
                    <td>
                        {{order.documentDate | date: "dd.MM.yyyy" }}
                    </td>
                    <td>
                        {{order.documentNumber}}
                    </td>
                    <td>
                        <span ng-if="!$ctrl.hasViewPermission">
                            {{order.documentContent}}
                        </span>
                        <a ng-if="$ctrl.hasViewPermission" ui-sref="app.adm-order.order({id: order.documentID})">
                            {{order.documentContent}}
                        </a>
                    </td>
                    <td>{{order.barcode}}</td>
                    <td class="center">
                        <button class="btn btn-primary"
                                ng-click="$ctrl.openUploadDocument(order.documentID)"
                                my-auth="OASI_ADMORDER_SCANBUTTON"
                                >
                            Загрузить файл
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <span ng-show="$ctrl.searchResult.totalElements === 0" class="text-danger ng-hide" aria-hidden="true">
                <span class="fa fa-times-circle"></span>
                <span>Записи не найдены</span>
            </span>

            <div class="m-b">
                <div class="clearfix">
                    <div class="pull-left m-b-xs" ng-show="$ctrl.searchResult.totalElements > 0" aria-hidden="false">
                        <ul uib-pagination
                            total-items="$ctrl.searchResult.totalElements"
                            ng-model="$ctrl.searchResult.pageNumber"
                            ng-change="$ctrl.reload()"
                            max-size="$ctrl.searchResult.pageSize"
                            class="pagination"
                            boundary-links="false"
                            boundary-link-numbers=true
							rotate=true                            
                            previous-text="Назад"
                            next-text="Далее"
                            num-pages="$ctrl.searchResult.totalPages">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </success>
    <error>
        <span class="text-danger">
            <span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span>
        </span>
    </error>
</loading-block>