<form role="form" class="m-t form-horizontal" name="attachForm">
	<div class="inmodal">
		<div class="modal-header">
			<button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
			<h4 class="modal-title">Прикрепление оригиналов</h4>
		</div>
		<div class="modal-body">
			<not-scanned-attach done="$ctrl.done()"></not-scanned-attach>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-white" ng-if="$ctrl.uploaded" ng-click="$ctrl.close()">Закрыть</button>
		</div>
	</div>
</form>

