.our-search {
  margin-bottom: 10px;
}

.my-modal-header {
  padding: 20px 20px;
  text-align: center;
}

.my-modal-footer {
  margin-top: 0 !important;
  text-align: center !important;
}

.table-inline {
  margin-right: -8px;
  margin-left: -8px;
}

.table-label {
  display: block;
  position: absolute;
  margin-left: -22px;
  z-index: 2005;
}

.fs17 {
  font-size: 17px;
}

.f-lg {
  font-size: 21px;
}

.tr-inactive {
  background-color: #f5f5f6;
}

img.our-welcome-img-circle {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-right: 8px;
}

img.ico-sm {
  height: 18px;
}

img.task-img {
  height: 56px;
  float: left;
  margin-right: 13px;
}

.little {
  font-size: 9px;
}

.checkbox-small {
  font-weight: 600;
  font-size: 12px;
}

.task-header {
  border-bottom: solid 1px #eee;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.task-description {
  border-bottom: solid 1px #eee;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

h2.task-name {
  font-weight: 800;
  font-size: 18px;
  /*margin-bottom: 6px;*/
}

.task-icon {
  /*position: absolute;*/
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 200;
  display: inline-block;
  padding-top: 3px;
  padding-left: 9px;
  /*text-align: center;*/

  float: left;
  margin-right: 10px;
}

.table-snippet td {
  padding-bottom: 12px !important;
}

.text-normal {
  font-weight: 400;
}

.advanced-search {
  font-weight: 400;
  margin-top: 15px;
  /*padding-bottom: 15px;*/
  /*border-bottom: solid 1px #eee;*/
}

.our-search-label {
  text-align: left !important;
}

.op_jb {
  display: block;
  border-color: transparent;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: absolute;
  left: 251.5px;
  top: -9px;
  z-index: 1;
  height: 0;
  width: 0;
  -moz-animation: gb__a .2s;
  animation: gb__a .2s;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(0, 0, 0, .1);
}

.op_ib {
  display: block;
  border-color: transparent;
  border-bottom-color: #fff;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: absolute;
  left: 251.5px;
  top: -8px;
  z-index: 1;
  height: 0;
  width: 0;
  -moz-animation: gb__a .2s;
  animation: gb__a .2s;
}

.our-bignav {
  margin-top: 10px;
  padding-bottom: 10px;
  /*padding: 5px 5px !important;*/
}

.our-bignav a {
  background-color: red;
  padding-top: 5px;
  /*padding: 5px 5px !important;*/
}

.our-th {
  font-size: 19px;
}

.our-profile {
  padding: 17px 25px;
  width: 290px;
}

.our-nav {
  padding: 25px;
  width: 337px;
  /*height: 120px;*/
}

.nav-th {
  padding: 15px 10px !important;
}

.our-nav .op_jb,
.our-nav .op_ib {
  left: 303.5px;
}

.big-nav-icon {
  border: solid 1px white;
  display: inline-block;
  text-align: center;
  padding: 5px;
  padding-top: 15px;
  width: 92px;
  height: 92px;
  margin-bottom: 3px;
}

a.big-nav-a {
  color: #575a5c;
  font-size: 12px !important;
}

a.big-nav-a:hover div {
  color: #575a5c;
  border: solid 1px #e7eaec;
}

.our-big-nav-icon-img {
  width: 44px;
  height: 44px;
  margin-bottom: 5px;
}

img.our-user, img.our-welcome-img-circle2 {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  opacity: 1;
}

.nav > li > a:hover img.our-user {
  opacity: 0.9;
}

img.our-th {
  width: 28px;
  height: 28px;
  opacity: 0.4;
}

.nav > li > a:hover img.our-th {
  opacity: 0.7;
}

.our-full-fio {
  font-size: 13px;
  font-weight: 400 !important;
  text-transform: none !important;
}

.our-fio {
  padding: 0px;
  margin: 0px;
}

.our-fio > a:hover {
  color: #3d4d5d !important;
}

.our-fio a {
  min-height: 60px;
}

@media screen and (max-width: 1100px) {
  .our-full-fio {
    display: none;
  }
}

.our-fio-check,
.nowrap {
  white-space: nowrap;
}

.coor-block {
  float: left;
  width: 170px;
}

.coor-num {
  width: 30px;
  float: left;
}

.coor-value {
  width: 60px;
  float: left;
}

.font-light {
  font-weight: 200;
}

.our-fio a {
  font-size: 13px;
  /*  font-weight: 400 !important;*/
}

.navbar-top-links .dropdown-menu {
  /*box-shadow: none;*/
  box-shadow: 0 0 7px rgba(86, 86, 86, 0.3);
  border: 1px solid #e7eaec;
}

.navbar-top-links .dropdown-menu > li > a {
  font-size: 12px !important;
}

.question {
  font-size: 20px;
  font-weight: 400;
}

/*.navbar-nav a:hover{
background-color: #f3f3f4 !important;
}
*/

img.our-img-circle-S {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}

.our-mandatory {
  position: absolute;
  margin-left: 3px;
  color: #ed5565;
}

.our-file-buttons {
  position: absolute;
  margin-left: -50px;
  margin-top: 3px;
  border: 0px solid !important;
}

.our-file-buttons button {
  border: 0px solid !important;
}

.small-file-box {
  /*display: inline-block;*/
}

.small-file-box a {
  /*color:#3d4d5d;*/
}

.small-file-box a div:hover {
  color: #337ab7 !important;
}

.small-file-ico {
  position: absolute;
  display: block;
  height: 70px;
  width: 50px;
  /*padding-right: 10px;*/
}

.small-file-name {
  display: inline-block;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 3px;
  width: 80%;
  margin-left: 40px;
  /*padding: 15px;*/
}

.small-file-name span {
  font-weight: 400;
  color: #888;
  font-size: 12px;
  margin-left: 10px;
  /*padding: 15px;*/
}

.small-file-actions {
  font-size: 11px;

}

.small-file-actions {
  margin-left: 40px;
}

.small-file-actions span {
  margin-right: 8px;
}

.dropzone {
  border: 2px dashed #d9d9d9;
  padding: 30px;
  text-align: center;
  color: #bbb;
  font-size: 16px;
  margin-bottom: 15px;
}

.small-sert-ico {
  height: 15px;
}

.our-icon-file-md {
  height: 43px;
}

.filter-sorter__link {
  color: #404040;
  cursor: default;
}

.filter-sorter__link {
  padding-right: 15px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiIGZpbGw9IiM2NTY1NjUiPjxwYXRoIGQ9Ik0wIDZoNHYyaC00ek0wIDNoNnYyaC02ek0wIDBoOHYyaC04eiIvPjwvc3ZnPgo=') no-repeat right 55%;
}

.file-m-b-sm {
  margin-bottom: 0px;
}

.fs17 {
  font-size: 17px;
}

.fs15 {
  font-size: 15px;
}

.our-vitrina-h2 {
  font-size: 18px;
  font-weight: 600;
}

.our-attachment {
  font-size: 11px;
}

.p-t-none {
  padding-top: 0px;
}

.light-label {
  color: #ccc !important;
  font-weight: 200 !important;
  margin-left: 3px;
}

.certificate {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}

.certificate img {
  height: 20px;
}

.our-file-class {
  color: #4e5052;
  margin-bottom: 5px;
  font-weight: 600;
}

.our-icon-file {
  height: 70px;
}

.our-icon-file-small {
  height: 20px;
}

.our-section {
  border-top: 1px solid #e7eaec;
  padding-top: 10px;
}

.our-border {
  border: 1px solid #e7eaec;
}

.our-border-red {
  border: 1px solid #ed5666;
}

.our-no-b {
  font-weight: 400 !important;
  white-space: nowrap;
}

.touchspin1 {
  text-align: center;
}

.our-name {
  color: #FFF;
  font-weight: 600;
  font-size: 21px;
  padding: 15px 25px;

}

.our-control-label-l {
  text-align: left !important;
}

.ps-name-lg {
  margin: 23px 25px 10px 25px;
  font-size: 21px;
  font-weight: 600;
}

.ps-name-lg a {
  color: #0f91bd;
}

.our-name a {
  color: #FFF;
}

.our-name a:hover {
  color: #dfe4ed;
}

.nav-header-border {
  border-bottom: 1px solid #2f99bd !important;
}

@media screen and (min-width: 992px) {
  .our-letter {
    width: 700px !important;
  }
}

@media screen and (min-width: 1290px) {
  .our-ibox-content {
    padding: 20px 27px 27px 27px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1289px) {
  .our-ibox-content {
    padding: 17px 22px 22px 22px;
  }
}

div .our-subname {
  font-size: 23px;
  background-color: #29495d;

}

.our-logo {
  margin-right: 4px;
}

.our-nw {
  white-space: nowrap;
}

.our-semibold,
.semibold {
  font-weight: 600;
}

.normal {
  font-weight: 400;
}

.our-empty-srok {
  display: block;
  width: 50px;
  background-color: red;
}

.our-table-xs th {
  font-size: 10px;
  font-weight: 600;
}

.our-table-sm th {
  font-weight: 600;
}

.our-primary-color {
  color: #1bb395;
}

.center {
  text-align: center;
}

.middle {
  vertical-align: middle !important;
}

/*
.dl-horizontal dt{
font-weight: 600;
}
*/

.control-label {
  font-size: 13px;
  font-weight: 500;
}

.our-search-label {
  font-weight: 600;
}

.i-checks label {
  font-weight: 600;
}

.form-control {
  font-weight: 500;
}

@media screen and (min-width: 764px) {
  .card-header .dl-horizontal dt {
    width: 130px;
  }

  .card-header .dl-horizontal dd {
    margin-left: 150px;
  }
}

.description .dl-horizontal dt {
  width: 240px;
  text-align: left;
  white-space: normal;
}

.description-sm.dl-horizontal dt {
  width: 200px !important;
  text-align: left;
  white-space: normal;
}

.description.description .dl-horizontal dt, .description .dl-horizontal dt span {
  font-weight: 400;
}

.description .dl-horizontal dd {
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1.25;
}

.dl-horizontal dt {
  font-weight: 600;
}

.description .dl-horizontal dt span {
  padding: 0 5px 0 0;
  line-height: 1.25;
  background: #ffffff;
}

@media screen and (min-width: 764px) {
  /*Для больших экранов делаем с точками и в 2 колонки. Для маленьких будет просто через перенос строки*/

  .description .dl-horizontal dt {
    width: 240px;
    text-align: left;
    white-space: normal;
    background: url(../images/hr-dot-gray.gif) 100% 12px repeat-x;
  }

  .description-sm .dl-horizontal dt {
    width: 200px;
  }

  .description .dl-horizontal dd {
    margin-left: 250px;
    line-height: 1.25;
  }

  .description-sm .dl-horizontal dd {
    margin-left: 210px;
  }
}

/* select делаем свою стрелку */

.our-select {
  -webkit-appearance: none;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}

.our-select::-ms-expand {
  display: none;
}

.our-caret {
  position: absolute;
  margin-top: -18px;
  margin-left: -20px;

}

.m-t-8 {
  margin-top: 8px;
}

.treeview .list-group-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navbar-default {
  width: 240px;
}


li:focus {
  outline: none;
}

.active-tab-bottom {
  border-bottom:3px solid #de8650 !important;
}

.center-block-outer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.center-block-outer {
  text-align: center;
}

.center-block-inner {
  display: inline-block;
  vertical-align: middle;
}

.oasi-components .ibox-content {
  border-width: 1px 0;
}
.oasi-components .ibox-tab-content {
  border-top: 0;
}

.oasi-components .ibox-content {
  border-width: 1px 0;
}

.text-disabled {
  color: #ccc;
}

.not-specified {
  color: $dark-gray;
  font-weight: 400;
}

.specified {
  font-weight: 600;
}

.oasi-components .nav-tabs > li.active > a {
  background-color: #fff;
}

.description .dl-horizontal dt {
  width: 240px;
  text-align: left;
  white-space: normal;
}
.description .dl-horizontal dt.right {
  text-align: right;
  background: none;
}

.description-sm.dl-horizontal dt {
  width: 200px !important;
  text-align: left;
  white-space: normal;
}

.description.description .dl-horizontal dt,
.description .dl-horizontal dt span {
  font-weight: 400;
}

.description .dl-horizontal dd {
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1.25;
}

.dl-horizontal dt {
  font-weight: 600;
}

.description .dl-horizontal dt span {
  padding: 0 5px 0 0;
  line-height: 1.25;
  background: #ffffff;
}



@media screen and (min-width:764px) {
  /*Для больших экранов делаем с точками и в 2 колонки. Для маленьких будет просто через перенос строки*/
  .description .dl-horizontal dt {
    width: 240px;
    text-align: left;
    white-space: normal;
    background: url(../images/hr-dot-gray.gif) 100% 12px repeat-x;
  }
  .description-sm .dl-horizontal dt {
    width: 200px;
  }
  .description .dl-horizontal dd {
    margin-left: 250px;
    line-height: 1.25;
  }
  .description-sm .dl-horizontal dd {
    margin-left: 210px;
  }
}

div.full-size {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.snils-modal-window .modal-dialog {
  width: 700px;
}

.our-mandatory {
  position: absolute;
  margin-left: 3px;
  color: #ed5565;
}

div:focus {
  outline: none;
  border: 0;
}

body {
  background-color: #efefef;
}

#wrapper {
  background-color: #2f4050;
}

.navbar-default {
  border-right: 1px solid #e7eaec;
  height: 100%;
}

.nav-header {
  background-image: none;
}