.our-table-responsive {
  width: 100%;
  margin-bottom: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  border: 1px solid #D0D0D0;
  padding: 0;
}

.table {
  margin: 0 !important;
}

.table-inline {
  margin-right: -8px;
  margin-left: -8px;
}

.table > thead > tr > th {
  font-weight: 600;
}

.table-snippet td {
  padding-bottom: 12px !important;
}

.table-label {
  display: block;
  position: absolute;
  margin-left: -22px;
  z-index: 2005;
}

.pagination-sm {
  margin: 0;
}

th:focus {
  outline: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

table.dataTable {
  margin: 0 !important;
  padding: 0 !important;
}

.dropdown-menu {
  min-width: 0px !important;
  width: auto;
}

.selection-menu-right {
  left: auto !important;
  right: 0 !important;
}

.scrollable {
  width: 100%;
  max-height: 600px;
  min-height: 200px;
  margin: 0x;
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 25px;
}

table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important;
}

table.dataTable td,
table.dataTable th {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
  text-align: center;
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 75px;
  display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}

div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 8px;
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: 30px;
}

table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
  outline: none;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5;
}

table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "\e150";
  /* sort */
}

table.dataTable thead .sorting_asc:after {
  content: "\e155";
  /* sort-by-attributes */
}

table.dataTable thead .sorting_desc:after {
  content: "\e156";
  /* sort-by-attributes-alt */
}

table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  color: #eee;
}

div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
  display: none;
}

div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
  border-top: none;
}

div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none;
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length,
  div.dataTables_wrapper div.dataTables_filter,
  div.dataTables_wrapper div.dataTables_info,
  div.dataTables_wrapper div.dataTables_paginate {
    text-align: center;
  }
}

table.dataTable.table-condensed > thead > tr > th {
  padding-right: 20px;
}

table.dataTable.table-condensed .sorting:after,
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
  top: 6px;
  right: 6px;
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
  border-left-width: 0;
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
  border-right-width: 0;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
  border-bottom-width: 0;
}

div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
  padding-left: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
  padding-right: 0;
}

table.dataTable {
  margin: 0 !important;
  padding: 0 !important;
}

.file-close {
  color: #A0A0A0;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 3px;
  padding: 4px;
  font-size: 14px;

}

span:focus.file-close {
  outline: none;
}

span:hover.file-close {
  color: #606060;
}

img.our-user-icon {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

h1.our-eye-icon {
  color: #C0C0C0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

h1:hover.our-eye-icon {
  color: #909090;
}

// spinner
.spinner-white .sk-spinner.sk-spinner-circle .sk-circle:before {
  background-color: #fff;
}

.spinner-green .sk-spinner.sk-spinner-circle .sk-circle:before {
  background-color: #1b7e5a;
}

.our-attachment {
  border: 2px dashed #D0D0D0;
  padding: 5px;
}

.input-group-btn, .input-group .form-control {
  text-align: center;
}

.file-name {
  font-size: 11px;
  word-wrap: break-word;
}

div.our-request-headers h1,
div.our-request-headers h2,
div.our-request-headers h3,
div.our-request-headers h4,
div.our-request-headers h5,
div.our-request-headers h6 {
  color: $navy;
}

.md-file-box a div:hover {
  color: #337ab7 !important;
}

.md-file-name {
  display: inline-block;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 3px;
}

.md-file-name span {
  font-weight: 400;
  color: #888;
  font-size: 12px;
  margin-left: 10px;
}

.md-file-actions {
  font-size: 11px;

}

.md-file-actions span {
  margin-right: 8px;
}

.md-file-ico {
  float: left;
  padding-right: 10px;

  img {
    height: 45px;
  }
}

.advanced-search {
  font-weight: 400;
  margin-top: 15px;
}

.our-search-label {
  text-align: left !important;
}

.input-group-addon-txt {
  border-left-width: 0 !important;
  border-right-width: 0 !important;
}

[date-picker] {
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.sorting-inactive-a {
  color: #337ab7 !important;
}

.n-filter-sorter a {
  color: $text-color;
}

.n-filter-sorter a:hover {
  color: darken(#337ab7, 10%) !important;
}

.min-form-control {
  min-width: 200px;
  width: auto;
}

.label-muted {
  background-color: $label-badget-color;
  color: white;
}

/// uib-datepicker

.uib-datepicker {
  border-width: 0;
  background-color: white;
  margin: 0;
  padding: 5px;
  outline: none;
}

.uib-datepicker small {
  font-size: 13px;
}

.uib-datepicker strong {
  font-size: 13px;
}

.uib-datepicker span {
  font-size: 13px;
}

.uib-datepicker .text-info {
  color: #1b7e5a;

}

.uib-datepicker button {
  border-width: 0 !important;
}

.uib-datepicker small {
  font-size: 100% !important;
}

.uib-datepicker *:focus {
  outline: none;
}

button {
  outline: none !important;
}

.uib-year button {
  padding: 5px 8px !important;
  margin: 0 !important;
  border-width: 0;
  border-radius: 0;
}

.uib-year button.active {
  background: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 0 !important;
}

.uib-year button:hover {
  border-width: 0 !important;
}

.uib-year button:hover.active {
  background: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 0 !important;
}

.uib-year button.btn-info {
  background: #1b7e5a;
}

.uib-year button:hover.btn-info {
  background: #1b7e5a;
  opacity: 0.75;
  border-width: 0 !important;
}

.uib-year button.btn-info span {
  color: white;
}

.uib-month button {
  padding: 5px 8px;
  border-width: 0;
  border-radius: 0;
}

.uib-month button:hover {
  border-width: 0 !important;
}

.uib-month button.active {
  background: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.uib-month button:hover.active {
  background: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 0 !important;
}

.uib-month button.btn-info {
  background: #1b7e5a;
}

.uib-month button:hover.btn-info {
  background: #1b7e5a;
  opacity: 0.75;
  border-width: 0 !important;
}

.uib-month button.btn-info span {
  color: white;
}

.uib-day button {
  padding: 3px 8px;
  border-width: 0;
  border-radius: 0;
}

.uib-day button:hover {
  border-width: 0 !important;
}

.uib-day button.active {
  background: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.uib-day button:hover.active {
  background: white;
  opacity: 0.75;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 0 !important;
}

.uib-day button.btn-info {
  background: #1b7e5a;
}

.uib-day button:hover.btn-info {
  background: #1b7e5a;
  opacity: 0.75;
  border-width: 0 !important;
}

.uib-day button.btn-info span {
  color: white;
}

.uib-left, .uib-right, .uib-title {
  padding: 5px 8px;
}

button:hover.uib-left {
  border-width: 0 !important;
}

button:hover.uib-right {
  border-width: 0 !important;
}

button:hover.uib-title {
  border-width: 0 !important;
}

.uib-left, .uib-right, .uib-title {
  padding: 5px 8px;
  border-width: 0;
  border-radius: 0;
  color: #404040 !important;
}

.uib-left i, .uib-right i {
  color: #B0B0B0 !important;
  padding: 0;
  margin: 0;
}

/*
.uib-datepicker table thead tr:first-child {
  border-bottom: 1px solid #E0E0E0;
}
*/
.uib-day button span.text-muted {
  color: #C0C0C0;
}

.uib-daypicker table thead tr:nth-child(2) th:nth-last-child(1) small {
  color: #ec7063;
}

.uib-daypicker table thead tr:nth-child(2) th:nth-last-child(2) small {
  color: #ec7063;
}

.uib-datepicker-popup {
  padding: 5px;
  margin-top: 0;
}

.uib-button-bar {
  margin: 5px;
  padding: 0;
}

button.uib-close {
  background: #ec7063;
  color: white;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 5px 8px;
}

button:hover.uib-close {
  background: #ec7063;
  opacity: 0.75;
}

button:active.uib-close {
  background: #ec7063;
  opacity: 1;
}

button.uib-clear {
  background: #3498db;
  color: white;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 5px 8px;
}

button:hover.uib-clear {
  background: #3498db;
  opacity: 0.75;
}

button:active.uib-clear {
  background: #3498db;
  opacity: 1;
}

button.uib-datepicker-current {
  background: #95a5a6;
  color: white;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 5px 8px;
}

button:hover.uib-datepicker-current {
  background: #95a5a6;
  opacity: 0.75;
}

button:active.uib-datepicker-current {
  background: #95a5a6;
  opacity: 1;
}

/// ui-select

.ui-select-multiple *:focus {
  outline: none;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  padding: 3px 7px;
  box-shadow: none;
  background: transparent;
  color: #404040 !important;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 1.6em;
  text-shadow: none;
  line-height: 1;
  opacity: 1;
  padding: 0 3px;
  color: #404040 !important;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match {
  border-width: 0 !important;
  box-shadow: none;
}

.stages .ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  background: white;
  color: #404040 !important;
}

.stages .ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  color: #404040 !important;
}

.pers .ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  background: #1b7e5a;
  color: white !important;
}

.pers .ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  color: white !important;
}

.ui-select-bootstrap .ui-select-choices-row > span {
  padding: 5px 10px;
}

.ui-select-bootstrap .ui-select-choices-row.active > span {
  color: #333;
  background-color: #DDD;
  padding: 5px 10px;
}

.ui-select-bootstrap .ui-select-choices-row.active > span:hover {
  background-color: #EEE;
}

.ui-select-bootstrap .ui-select-choices-row > span:hover {
  background-color: #EEE;
}

/*
.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
    margin-top: 4px;
    border-radius: 0;
}*/

.ui-select-choices {
  border-radius: 0;
  border: 1px solid #CCC;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  padding: 5px 10px;
  width:100%!important;
}

.ui-select-bootstrap .ui-select-choices-row > span {
  font-size: 13px;
  color: #333;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  font-size: 13px;
}

.filter-sorter__link {
  color: #404040;
  cursor: default;
}

.filter-sorter__link_desc {
  padding-right: 10px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiIGZpbGw9IiM2NTY1NjUiPjxwYXRoIGQ9Ik0wIDZoNHYyaC00ek0wIDNoNnYyaC02ek0wIDBoOHYyaC04eiIvPjwvc3ZnPgo=') no-repeat right 55%;
}

.filter-sorter__link_asc {
  padding-right: 10px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiIGZpbGw9IiM2NTY1NjUiPjxwYXRoIGQ9Ik0wIDBoNHYyaC00ek0wIDNoNnYyaC02ek0wIDZoOHYyaC04eiIvPjwvc3ZnPgo=') no-repeat right 55%;
}

.svg-spinner {
  background-image: url(images/spinner.svg);
  background-repeat: no-repeat;
  background-position: 98% center;
  opacity: 0.8;
}

.md-file-name span {
  margin-left: 0;
}

.minNav {
  margin: 0;
}

a.minNav {
  color: white;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

a:hover.minNav {
  color: lightgrey;
  font-size: 20px;
  opacity: 0.75;
}

.OASILogo {
  margin: 0;
  font-weight: 600;
  font-size: 21px;
  color: white;
}

.ps-name-lg {
  margin: 23px 25px 10px 25px;
}

.ps-name-lg span {
  font-size: 21px;
  font-weight: 600;
  color: #2f99bd;
}

.bolder {
  font-style: italic;
}

.our-form-label {
  text-align: right;
}

textarea.has-error {
  border-color: $red;
  background-color: #FFF0F0;
}

textarea.form-control {
  resize: vertical;
}

input.has-error {
  border-color: $red;
  background-color: #FFF0F0;
}

input.touchspin-has-error {
  border-color: $red;
  border-width: 1px;
  background-color: #FFF0F0;
  z-index: 3 !important;
}

.file-manager-has-error div {
  border-color: $red;
  background-color: #FFF0F0;
}

.datapicker-has-error input {
  border-color: $red;
  border-width: 1px;
  background-color: #FFF0F0;
  z-index: 3 !important;
}

.our-attachment {
  border: 2px dashed #D0D0D0;
  padding: 5px !important;
}

.light-label {
  color: #ccc !important;
  font-weight: 200 !important;
  margin-left: 3px;
}

.danger-label {
  margin-left: 3px;
}

.our-th {
  font-size: 19px;
}

img.our-th {
  width: 28px;
  height: 28px;
  opacity: 0.4;
}

img.our-user, img.our-welcome-img-circle2 {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  opacity: 1;
}

.our-fio a {
  font-size: 13px;
  /*  font-weight: 400 !important;*/
}

.our-fio {
  padding: 0px;
  margin: 0px;
}

.our-fio > a:hover {
  color: #3d4d5d !important;
}

.our-fio a {
  min-height: 60px;
}

.our-fio-check, .nowrap {
  white-space: nowrap;
}

.nav-th {
  padding: 15px 10px !important;
}

img.our-user, img.our-welcome-img-circle2 {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  opacity: 1;
}

.nav > li > a:hover img.our-user {
  opacity: 0.9;
}

.our-nav {
  padding: 25px;
  width: 337px;
  /*height: 120px;*/
}

.nav-th {
  padding: 15px 10px !important;
}

.our-nav .op_jb,
.our-nav .op_ib {
  left: 303.5px;
}

.big-nav-icon {
  border: solid 1px white;
  display: inline-block;
  text-align: center;
  padding: 5px;
  padding-top: 15px;
  width: 92px;
  height: 92px;
  margin-bottom: 3px;
}

a.big-nav-a {
  color: #575a5c;
  font-size: 12px !important;
}

a.big-nav-a:hover div {
  color: #575a5c;
  border: solid 1px #e7eaec;
}

.our-big-nav-icon-img {
  width: 44px;
  height: 44px;
  margin-bottom: 5px;
}

.our-search-label {
  text-align: left !important;
}

.op_jb {
  display: block;
  border-color: transparent;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: absolute;
  left: 251.5px;
  top: -9px;
  z-index: 1;
  height: 0;
  width: 0;
  -moz-animation: gb__a .2s;
  animation: gb__a .2s;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(0, 0, 0, .1);
}

.op_ib {
  display: block;
  border-color: transparent;
  border-bottom-color: #fff;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: absolute;
  left: 251.5px;
  top: -8px;
  z-index: 1;
  height: 0;
  width: 0;
  -moz-animation: gb__a .2s;
  animation: gb__a .2s;
}

.navbar-top-links li ul a {
  padding: 0 !important;
  min-height: 50px;
}

.our-profile {
  padding: 17px 25px;
  width: 290px;
}

.our-search-img {
  padding: 1px;
  opacity: 0.3 !important;
}

a:hover img.our-search-img {
  opacity: 0.5 !important;
}

._op_jb {
  left: 311.5px !important;
}

._op_ib {
  left: 311.5px !important;
}

._our-profile {
  width: 350px !important;
}

select.has-error {
  border-color: $red;
  background-color: #FFF0F0;
}

//Файлы

.ex-small-file-box a div:hover {
  color: #337ab7 !important;
}

.ex-small-file-ico {
  position: absolute;
  display: block;
  height: 70px;
  width: 50px;
}

.ex-small-file-name {
  display: inline-block;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 3px;
  width: 80%;
  margin-left: 40px;
}

.ex-small-file-name span {
  font-weight: 400;
  color: #888;
  font-size: 12px;
  margin-left: 10px;
}

.ex-small-file-actions {
  font-size: 11px;
  margin-left: 40px;
}

.ex-small-file-actions span {
  margin-right: 8px;
}

.ex-our-icon-file-md {
  height: 43px;
}

.ex-small-file-ico {
  padding: 0 !important;
}

.ex-small-file-box {
  border: 0px solid #e7eaec !important;
}

.ex-small-file-name {
  width: auto !important;
  border-left: 0px solid #e7eaec !important;
  padding: 0 !important;
  background-color: transparent !important;
}

.ex-small-file-box a {
  color: #888888;
}

.ex-small-file-box a:hover {
  color: #3d4d5d !important;
}

.ex-small-file-box a.text-default {
  color: $text-color !important;
}

.ex-dropzone {
  border: 2px dashed #d9d9d9;
  padding: 30px;
  text-align: center;
  color: #bbb;
  font-size: 16px;
  margin-bottom: 15px;
}

.ex-small-file-name span {
  margin-left: 0px !important;
}

.ex-provInfo {
  background-color: white;
  border: 2px solid #DDDDDD;
  padding: 10px;
}

.ex-sertList {
  background-color: white;
  border: 2px solid #DDDDDD;
  padding: 0px;
  margin-top: 10px;
}

.ex-sertInfo {
  background-color: white;
  border: 2px solid $dblue;
  padding: 20px;
  margin-top: 10px;
}

.ex-small-sert-ico {
  height: 15px;
}

/** SS MKA **/

.text-default {
  color: #575a5c;
}

.our-profile {
  padding: 17px 25px;
}

.filter-sorter__link {
  cursor: pointer;
}

body > .ui-select-bootstrap.open {
  z-index: 2000;
}

.ui-select-bootstrap .ui-select-match-text {
  padding-right: 2.5em;
}

.ui-select-bootstrap .ui-select-toggle > a.btn {
  margin-top: 0;
}

.zindex {
  z-index: 9999 !important;
}

.table-fixed {
  table-layout: fixed;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .modal-lg {
    width: 1100px;
  }
}
.mobile-approve-btn{
  background-color: #1a7bb9 !important;
  border-color: #1a7bb9 !important;
}