<div>
	<div style="min-width:880px;padding-right:30px;">
		<table class="table table-bordered table-responsive table-fixed" style="min-width:850px;margin-right:30px;">
			<thead>
				<tr>
					<th class="nowrap center" width="110px"></th>
					<th class="nowrap center" width="50px">№ пп</th>
					<th class="nowrap center" width="190px">Вид действия</th>
					<th class="nowrap center" >ФИО и должность</th>
					<th class="nowrap center" width="340px">Комментарий</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="agreed in $ctrl.agreed">
					<td>
						<button type="button" class="btn btn-xs btn-default"
							ng-click="$ctrl.delApproval($index)">
							<i class="fa fa-minus m-r-xs"></i>
						</button>
						<button type="button" class="btn btn-xs btn-default"
							ng-if="!$first"
							ng-click="$ctrl.swapApprovals($index, $index - 1)">
							<i class="fa fa-arrow-up m-r-xs"></i>
						</button>
						<button type="button" class="btn btn-xs btn-default"
							ng-if="!$last"
							ng-click="$ctrl.swapApprovals($index, $index + 1)">
							<i class="fa fa-arrow-down m-r-xs"></i>
						</button>
					</td>
					<td>{{agreed.approvalNum}}</td>
					<td>
						<select class="form-control our-select"
								ng-model="agreed.approvalTypeCode"
								ng-change="$ctrl.approvalTypeChanged($index)"
								ng-options="item.approvalTypeCode as item.approvalType for item in $ctrl.approvalTypes | approvalTypes:$ctrl.order.approval.approvalCycle.agreed:agreed">
						</select>
						<div class="pull-right">
							<span class="caret our-caret"></span>
						</div>
					</td>
					<td>
						<ui-select ng-model="agreed.agreedBy" theme="bootstrap" style="z-index: 3000">
							<ui-select-match>
								{{$select.selected.fioFull}} ({{$select.selected.post}})
							</ui-select-match>
							<ui-select-choices repeat="item in $ctrl.approvers | filter: $select.search | orderBy: 'fioFull'">
								{{item.fioFull}} ({{item.post}})
							</ui-select-choices>
						</ui-select>
					</td>
					<td>
                        <textarea class="form-control" ng-model="agreed.note" style="resize: vertical"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<button type="button" class="btn btn-xs btn-default"
							ng-click="$ctrl.addApproval()">
							<i class="fa fa-plus m-r-xs"></i>
						</button>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
