<div class="">
  <div class="panel panel-default" ng-repeat="agreed in $ctrl.agreed">
		<div class="panel-heading">
			<div>
	      <button type="button" class="btn btn-default" ng-click="$ctrl.delApproval($index)">
          Убрать
	      </button>
        <button type="button" class="btn btn-default pull-right"
	        ng-if="!$last"
	        ng-click="$ctrl.swapApprovals($index, $index + 1)">
	        <i class="fa fa-arrow-down"></i>
	      </button>
        <button type="button" class="btn btn-default pull-right"
	        ng-if="!$first"
	        ng-click="$ctrl.swapApprovals($index, $index - 1)">
	        <i class="fa fa-arrow-up"></i>
	      </button>
	    </div>
		</div>
    <div class="panel-body">
			<!--
	      <div class="">
	      	{{agreed.approvalNum}}
	      </div>
	      -->
	    <div class="">
	      <div class="form-group">
	        <label>Вид действия</label>
	        <select class="form-control our-select"
	          ng-model="agreed.approvalTypeCode"
	          ng-change="$ctrl.approvalTypeChanged($index)"
	          ng-options="item.approvalTypeCode as item.approvalType for item in $ctrl.approvalTypes | approvalTypes:$ctrl.order.approval.approvalCycle.agreed:agreed">
	        </select>
	        <div class="pull-right">
	          <span class="caret our-caret"></span>
	        </div>
	      </div>
	    </div>
	    <div class="">
	      <div class="form-group">
	        <label>ФИО и должность</label>
	        <ui-select ng-model="agreed.agreedBy" theme="bootstrap" style="z-index: 3000">
	          <ui-select-match>
	            {{$select.selected.fioFull}} ({{$select.selected.post}})
	          </ui-select-match>
	          <ui-select-choices repeat="item in $ctrl.approvers | filter: $select.search | orderBy: 'fioFull'">
	            {{item.fioFull}} ({{item.post}})
	          </ui-select-choices>
	        </ui-select>
	      </div>
	    </div>
	    <div class="">
	      <div class="form-group">
	        <label>Комментарий</label>
	        <textarea class="form-control" rows="5" ng-model="agreed.note"></textarea>
	      </div>
	    </div>
    </div>
  </div>
  <button type="button" class="btn btn-default" ng-click="$ctrl.addApproval()">
    Новый согласующий
  </button>
</div>
