<div id="wrapper" ng-cloak>
  <div class="hidden-xs" ng-if="!$ctrl.isMobile">
    <oasi-sidebar system="ADMORDER"></oasi-sidebar>
    <div id="page-wrapper" class="gray-bg" style="height: 100%;padding: 0;">
        <oasi-navbar ng-if="!$ctrl.isMap" is-white="$ctrl.isWhiteTop"></oasi-navbar>
        <oasi-breadcrumbs ng-if="$ctrl.showBreadcrumbs()" disable-dictionary="true" system="ADMORDER"></oasi-breadcrumbs>
        <ui-view autoscroll="false"></ui-view>
        <oasi-footer ng-if="!$ctrl.isMap" version="ОАСИ 1.0.0"></oasi-footer>
        <config-box ng-if="!$ctrl.isMap"></config-box>
    </div>
  </div>
  <div class="mobile visible-xs body-small" ng-if="$ctrl.isMobile">
    <oasi-mobile-navbar is-white="$ctrl.isWhiteTop"></oasi-mobile-navbar>
    <ui-view autoscroll="false"></ui-view>
    <oasi-mobile-footer ng-if="!$ctrl.isMap" version="ОАСИ 1.0.0"></oasi-mobile-footer>
  </div>
</div>

