<nav class="navbar-default navbar-static-side" role="navigation">
    <ul class="nav metismenu" id="side-menu">
        <li class="nav-header nav-header-border"><a href="#">
            <div class="our-name">ОАСИ МКА</div>
        </a></li>
        <div class="ps-name-lg">
            <span><a ui-sref="app.adm-order.main">Приказы</a></span>
        </div>

        <li class="active">
            <ul class="nav nav-second-level collapse in">
                <li my-auth="OASI_ADMORDER_VIEW_ALL" ng-class="{'active': $ctrl.$state.current.name === 'app.adm-order.orders'}">
                    <a ui-sref="app.adm-order.orders">Все приказы и распоряжения</a>
                </li>
                <li ng-class="{'active': $ctrl.$state.current.name === 'app.adm-order.my-tasks'}">
                    <a ui-sref="app.adm-order.my-tasks" style="white-space: nowrap">
                    	Мои задачи <span class="label label-primary">{{$ctrl.myTasksCount}}</span>
                   	</a>
                </li>                
                <li my-auth="OASI_ADMORDER_VIEW_SCAN" ng-class="{'active': $ctrl.$state.current.name === 'app.adm-order.not-scanned'}">
                    <a ui-sref="app.adm-order.not-scanned" style="white-space: nowrap">
                        Ожидают сканирования <span class="label label-primary">{{$ctrl.notScannedCount}}</span>
                    </a>
                </li>
                <li my-auth="OASI_ADMORDER_VIEW_MAIL" ng-class="{'active': $ctrl.$state.current.name === 'app.adm-order.not-sent'}">
                    <a ui-sref="app.adm-order.not-sent" style="white-space: nowrap">
                        Ожидают рассылки <span class="label label-primary">{{$ctrl.notSentCount}}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>