<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg m-b-none" style="background: #f3f3f4;" role="navigation">

        <form role="search" class="navbar-form-custom hidden-xs">
            <div class="form-group">
                <div class="input-group">
                    <input style="text-align:left;background:white;"
                           type="text"
                           class="form-control"
                           name="top-search"
                           id="top-search"
                           ng-model="$ctrl.query"
                    >
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-white" ng-click="$ctrl.search()">Найти</button>
                    </span>
                </div>
            </div>
        </form>

        <ul class="nav navbar-top-links navbar-right pull-right">

            <li class="dropdown our-fio visible-xs-inline-block" uib-dropdown auto-close="outsideClick"
                on-toggle="toggled(open)">
                <a class="nav-th" aria-expanded="false" role="button" href="#" class="dropdown-toggle"
                   uib-dropdown-toggle id="simple-dropdown" data-toggle="dropdown">
                    <img alt="image" class="our-th our-search-img" src="images/search.svg">
                </a>
                <ul role="menu" class="dropdown-menu dropdown-menu-right our-profile _our-profile" uib-dropdown-menu
                    aria-labelledby="simple-dropdown1">
                    <div class="op_jb _op_jb"></div>
                    <div class="op_ib _op_ib"></div>

                    <div class="form-group" style="margin-bottom: 0px;">
                        <div class="input-group">
                            <input style="text-align:left;background:white;" type="text" class="form-control"
                                   name="top-search" id="top-search">
                            <span class="input-group-btn">
                                <button style="margin-left: -2px;" type="button"
                                        class="btn btn-white"
                                        ng-click="$ctrl.search()">
                                    Найти
                                </button>
                            </span>
                        </div>
                    </div>
                </ul>
            </li>
            <li class="dropdown our-fio" uib-dropdown on-toggle="toggled(open)">
                <a class="nav-th" aria-expanded="false" role="button" href="#" class="dropdown-toggle"
                   uib-dropdown-toggle id="simple-dropdown" data-toggle="dropdown">
                    <img alt="image" class="our-th" src="images/grid.svg">
                </a>
                <ul role="menu" class="dropdown-menu dropdown-menu-right our-nav" uib-dropdown-menu
                    aria-labelledby="simple-dropdown">
                    <div class="op_jb"></div>
                    <div class="op_ib"></div>
                    <a href="#" ui-sref="app.gpzu.allMyTasks" class="big-nav-a">
                        <div class="big-nav-icon">
                            <img alt="image" class="our-big-nav-icon-img" src="images/menu-task.png"><br>
                            ГПЗУ
                        </div>
                    </a>
                    <a class="big-nav-a">
                        <div class="big-nav-icon">
                            <img alt="image" class="our-big-nav-icon-img" src="images/menu-sov2.png"><br>
                            Совещания
                        </div>
                    </a>
                    <a class="big-nav-a">
                        <div class="big-nav-icon">
                            <img alt="image" class="our-big-nav-icon-img" src="images/menu-an.png"><br>
                            Аналитика
                        </div>
                    </a>
                </ul>
            </li>
            <li class="dropdown our-fio" uib-dropdown on-toggle="toggled(open)">
                <a aria-expanded="false"
                   role="button"
                   href="#"
                   style="padding-top: 0;padding-bottom: 0;"
                   class="dropdown-toggle"
                   uib-dropdown-toggle id="simple-dropdown1"
                   data-toggle="dropdown">
                    <img alt="image" style="" class="our-user" src="images/a00.jpg">
                </a>
                <ul role="menu" class="dropdown-menu dropdown-menu-right our-profile" uib-dropdown-menu
                    aria-labelledby="simple-dropdown1">
                    <div class="op_jb"></div>
                    <div class="op_ib"></div>
                    <div class="m-b-xs semibold"><h4>{{$ctrl.userLogin}}</h4></div>
                    <div class="m-b">{{$ctrl.post}}</div>
                    <div class="pull-right">
                        <button type="button" ng-click="$ctrl.logout()" class="btn btn-sm btn-primary">Выйти</button>
                    </div>
                </ul>
            </li>
        </ul>
    </nav>
</div>