<div class="pull-right">
    <button ng-if="$ctrl.showCreateBpButton()"
            type="button"
            class="btn btn-sm btn-primary"
            ng-click="$ctrl.showAddOrderForm()"
    >
        Создать документ по БП
    </button>
    <button ng-if="false"
       my-auth="OASI_ADMORDER_ADDBUTTON"
       type="button"
       class="btn btn-sm btn-primary"
       ui-sref="app.adm-order.order({editingOrder: true})"
    >
        Создать документ
    </button>
    <button type="button" class="btn btn-sm btn-primary"
            ng-click="$ctrl.exportToExcel()"  ng-disabled="$ctrl.isUpdating">
        <span ng-show="$ctrl.isExporting"><i class="glyphicon glyphicon-refresh spinning"></i></span>
        Выгрузить в Excel
    </button>
    <button type="button" class="btn btn-sm btn-white" ng-class="{'active': $ctrl.viewExtSearch}"
            ng-click="$ctrl.toggleViewExtSearch()">
        <i class="fa m-r-xs"
           ng-class="{'fa-angle-up': $ctrl.viewExtSearch, 'fa-angle-down': !$ctrl.viewExtSearch}">
        </i>
        Расширенный поиск
    </button>
</div>
<h2 class="m-t-md semibold">Все приказы и распоряжения</h2>
<div ng-if="$ctrl.initialized && $ctrl.viewExtSearch">
    <hr />
    <orders-filter apply-filter="$ctrl.setFilter(value)" clear-filter="$ctrl.clearFilter()"/>
</div>
<orders-list ng-if="$ctrl.initialized"/>
