<form role="form" class="m-t form-horizontal" name="newOrderForm">
	<div class="inmodal">
		<div class="modal-header">
			<button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
			<h4 class="modal-title">Сформировать проект РД</h4>
		</div>
		<div class="modal-body">
			<div class="form-group" ng-class="{'has-error': newOrderForm.documentType.$invalid}">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Тип документа <span class="our-mandatory">*</span>
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <select name="documentType"
                            class="form-control our-select"
                            ng-model="$ctrl.order.documentTypeCode"
                            ng-required="true"
                            ng-change="$ctrl.documentTypeChanged()"
                            ng-options="item.DOC_CODE as item.DOC_NAME for item in $ctrl.rdTypes"
                            >
                    </select>
                    <div class="pull-right">
                        <span class="caret our-caret"></span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': newOrderForm.documentYear.$invalid}">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Год документа <span class="our-mandatory">*</span>
                </label>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <select name="documentYear" class="form-control our-select"
                            ng-model="$ctrl.order.documentYear"
                            ng-required="true"
                            ng-options="item for item in $ctrl.availableYears"
                    >
                    </select>
                    <div class="pull-right">
                        <span class="caret our-caret"></span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': newOrderForm.documentContent.$invalid}">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Содержание <span class="our-mandatory">*</span>
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <textarea name="documentContent" class="form-control our-control"
                              rows="2"
                              ng-model="$ctrl.order.documentContent"
                              ng-required="true">
                    </textarea>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': newOrderForm.theme.$invalid}">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Тема
                </label>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <select name="theme" class="form-control our-select"
                            ng-model="$ctrl.order.documentThemeCode"
                            ng-change="$ctrl.themeChanged()"
                            ng-required="true"
                            ng-options="item.THEME_CODE as item.THEME_NAME for item in $ctrl.availableThemes"
                    >
                    </select>
                    <div class="pull-right">
                        <span class="caret our-caret"></span>
                    </div>
                </div>
            </div>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" ng-click="$ctrl.save()" ng-disabled="!newOrderForm.$valid"
				ladda="$ctrl.saving" data-spinner-size="18" data-spinner-color="#ffffff" data-style="expand-right"
			>Сохранить</button>
			<button type="button" class="btn btn-white" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.saving">Отменить</button>
		</div>
	</div>
</form>

