<loading-block loading-status="$ctrl.loadingDictStatus">
    <loading>
        <spinner type="'circle'"/>
    </loading>
    <success>
        <form role="form" class="form-horizontal" name="filterForm" ng-submit="$ctrl.apply()">
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label">
                    Год
                </label>
                <div class="col-lg-8 col-md-9 col-sm-10">
                    <ui-select ng-model="$ctrl.searchFilter.docYear"
                               theme="bootstrap"
                               multiple >
                        <ui-select-match placeholder="Год">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="item as item in $ctrl.availableYears">{{item}}</ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label">
                    Номер документа
                </label>
                <div class="col-lg-8 col-md-9 col-sm-10">
                    <input name="docNumber"
                           type="text"
                           class="form-control"
                           placeholder="Номер документа"
                           ng-model="$ctrl.searchFilter.docNumber"
                    >
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label">
                    Штрихкод
                </label>
                <div class="col-lg-8 col-md-9 col-sm-10">
                    <input name="barcode"
                           type="text"
                           class="form-control"
                           placeholder="Штрихкод"
                           ng-model="$ctrl.searchFilter.barcode"
                    >
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label">
                    Номер связанного документа
                </label>
                <div class="col-lg-8 col-md-9 col-sm-10">
                    <input name="approvedDocNumber"
                           type="text"
                           class="form-control"
                           placeholder="Номер связанного документа"
                           ng-model="$ctrl.searchFilter.approvedDocNumber"
                    >
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label">
                    Содержание
                </label>
                <div class="col-lg-8 col-md-9 col-sm-10">
                    <input name="docContent"
                           type="text"
                           class="form-control"
                           placeholder="Содержание"
                           ng-model="$ctrl.searchFilter.docContent"
                    >
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label">Дата документа c</label>
                <div class="col-lg-8 col-md-9 col-sm-10">
                    <date-selector ng-model="$ctrl.searchFilter.docDate.startDate"></date-selector>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label">по</label>
                <div class="col-lg-8 col-md-9 col-sm-10">
                    <date-selector ng-model="$ctrl.searchFilter.docDate.endDate"></date-selector>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label">
                    Тип документа
                </label>
                <div class="col-lg-8 col-md-9 col-sm-10">
                    <ui-select multiple
                               ng-model="$ctrl.searchFilter.docTypeCode"
                               theme="bootstrap">
                        <ui-select-match placeholder="Тип документа">{{$item.DOC_NAME}}</ui-select-match>
                        <ui-select-choices
                                repeat="item.DOC_CODE as item in $ctrl.rdTypes">
                            {{item.DOC_NAME}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label">
                    Состояние
                </label>
                <div class="col-lg-8 col-md-9 col-sm-10">
                    <ui-select ng-model="$ctrl.selectedState"
                               ng-change="$ctrl.stateChangeHandler()"
                               theme="bootstrap">
                        <ui-select-match placeholder="Состояние">{{$ctrl.selectedState}}</ui-select-match>
                        <ui-select-choices
                                repeat="item in $ctrl.rdStates">
                            {{item}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label">
                    Статус
                </label>
                <div class="col-lg-8 col-md-9 col-sm-10">
                    <ui-select multiple
                               ng-model="$ctrl.searchFilter.docStatusCode"
                               ng-change="$ctrl.statusChangeHandler()"
                               theme="bootstrap">
                        <ui-select-match placeholder="Статус документа">{{$item.STATUS_NAME}}</ui-select-match>
                        <ui-select-choices repeat="item.STATUS_CODE as item in $ctrl.rdStatuses"
                                           ui-disable-choice="$ctrl.selectedState && item.statusAnalytic !== $ctrl.selectedState"
                        > {{item.STATUS_NAME}} </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label">Дата создания c</label>
                <div class="col-lg-8 col-md-9 col-sm-10">
                    <date-selector ng-model="$ctrl.searchFilter.createDate.startDate"></date-selector>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label">по</label>
                <div class="col-lg-8 col-md-9 col-sm-10">
                    <date-selector ng-model="$ctrl.searchFilter.createDate.endDate"></date-selector>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label">
                    Ответственное управление
                </label>
                <div class="col-lg-8 col-md-9 col-sm-10">
                    <ui-select ng-model="$ctrl.responsibleDepartment"
                               ng-change="$ctrl.departmentsChange($select.selected)"
                               theme="bootstrap">
                        <ui-select-match placeholder="Ответственное управление, введите 3 символа для начала поиска">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices minimum-input-length="3" repeat="item in $ctrl.departments | filter: $select.search"> {{item.name}} </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 control-label">
                    Ответственный исполнитель
                </label>
                <div class="col-lg-8 col-md-9 col-sm-10" ladda="$ctrl.updatingUsersListInProgress" data-spinner-size="18" data-spinner-color="#AAAAAA" data-style="expand-right">
                    <ui-select ng-model="$ctrl.searchFilter.responsibleExecutor"
                               ng-change="$ctrl.executorsChange($select.selected)"
                               theme="bootstrap">
                        <ui-select-match placeholder="Ответственный исполнитель, введите 3 символа для начала поиска">{{$select.selected.displayName}}</ui-select-match>
                        <ui-select-choices refresh="$ctrl.searchExecutors($select.search)"
                                           minimum-input-length="3"
                                           refresh-delay="300"
                                           repeat="item.accountName as item in $ctrl.users">
                            {{item.displayName}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-8 col-md-9 col-sm-10">
                    <button ng-click="$ctrl.apply()" type="submit" class="btn btn-w-m btn-primary">
                        Найти
                    </button>
                    <button ng-click="$ctrl.cancel()" type="button" class="btn btn-w-m btn-default">
                        Отменить все
                    </button>
                </div>
            </div>
        </form>
    </success>
    <error>
        <spam class="text-danger"><span class="fa fa-times-circle"></span> <span> Ошибка при инициализации формы</span>
        </spam>
    </error>
</loading-block>
