<div class="m-b-md">
    <div class="m-t-md">Всего найдено — {{$ctrl.searchResult.totalElements}}</div>
</div>
<loading-block loading-status="$ctrl.loadingAppStatus">
    <loading>
        <spinner type="'circle'"/>
    </loading>
    <success>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="nowrap center">
                            <span ng-click="$ctrl.switchSorting('docScanned')">
                                Файл
                                 <i ng-if="$ctrl.isSorted('docScanned', $ctrl.sorting)"
                                    class="fa fa-caret-down m-l-xs"
                                    ng-class='{"fa-caret-down": !$ctrl.sortingAsc, "fa-caret-up": $ctrl.sortingAsc}'
                                 ></i>

                                <i ng-if="!$ctrl.isSorted('docScanned', $ctrl.sorting)"
                                   class="fa fa-angle-down m-l-xs text-muted"></i>
                            </span>
                    </th>
                    <th class="nowrap center">
                            <span ng-click="$ctrl.switchSorting('docSent')">
                                Рассылка
                                 <i ng-if="$ctrl.isSorted('docSent', $ctrl.sorting)"
                                    class="fa fa-caret-down m-l-xs"
                                    ng-class='{"fa-caret-down": !$ctrl.sortingAsc, "fa-caret-up": $ctrl.sortingAsc}'
                                 ></i>

                                <i ng-if="!$ctrl.isSorted('docSent', $ctrl.sorting)"
                                   class="fa fa-angle-down m-l-xs text-muted"></i>
                            </span>
                    </th>
                    <th class="nowrap">
                            <span ng-click="$ctrl.switchSorting('docType')">
                                Тип документа
                                 <i ng-if="$ctrl.isSorted('docType', $ctrl.sorting)"
                                    class="fa fa-caret-down m-l-xs"
                                    ng-class='{"fa-caret-down": !$ctrl.sortingAsc, "fa-caret-up": $ctrl.sortingAsc}'
                                 ></i>

                                <i ng-if="!$ctrl.isSorted('docType', $ctrl.sorting)"
                                   class="fa fa-angle-down m-l-xs text-muted"></i>
                            </span>
                    </th>
                    <th class="nowrap">
                            <span ng-click="$ctrl.switchSorting('docDate')">
                                Дата
                                <i ng-if="$ctrl.isSorted('docDate', $ctrl.sorting)"
                                   class="fa fa-caret-down m-l-xs"
                                   ng-class='{"fa-caret-down": !$ctrl.sortingAsc, "fa-caret-up": $ctrl.sortingAsc}'
                                ></i>

                                <i ng-if="!$ctrl.isSorted('docDate', $ctrl.sorting)"
                                   class="fa fa-angle-down m-l-xs text-muted"></i>
                            </span>
                    </th>
                    <th class="nowrap">
                            <span ng-click="$ctrl.switchSorting('docNumber')">
                                Номер
                                 <i ng-if="$ctrl.isSorted('docNumber', $ctrl.sorting)"
                                    class="fa fa-caret-down m-l-xs"
                                    ng-class='{"fa-caret-down": !$ctrl.sortingAsc, "fa-caret-up": $ctrl.sortingAsc}'
                                 ></i>

                                <i ng-if="!$ctrl.isSorted('docNumber', $ctrl.sorting)"
                                   class="fa fa-angle-down m-l-xs text-muted"></i>
                            </span>
                    </th>
                    <th class="col-md-5">Содержание</th>
                    <th class="col-md-2">
                            <span ng-click="$ctrl.switchSorting('docStatus')">
                                Статус
                                 <i ng-if="$ctrl.isSorted('docStatus', $ctrl.sorting)"
                                    class="fa fa-caret-down m-l-xs"
                                    ng-class='{"fa-caret-down": !$ctrl.sortingAsc, "fa-caret-up": $ctrl.sortingAsc}'
                                 ></i>

                                <i ng-if="!$ctrl.isSorted('docStatus', $ctrl.sorting)"
                                   class="fa fa-angle-down m-l-xs text-muted"></i>
                            </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in $ctrl.searchResult.content">
                    <td class="center">
                            <span ng-if="order.files.length === 1" ng-repeat="file in order.files">
                                <a href="{{$ctrl.getFileLink(file.fileID)}}" class="text-default"
                                   title="{{file.fileName}}">
                                    <file-icon file-name="file.fileName"/>
                                </a>
                            </span>

                        <span ng-if="order.files.length > 1">
                                <file-icon
                                        role="button"
                                        file-name="order.files[0].fileName"
                                        uib-popover-html="order.fileUrls"
                                        popover-placement="bottom"
                                />
                            </span>
                    </td>
                    <td class="center">
                        <i ng-if="order.mailDateTime" class="fa fa-check-square text-success"
                           style="font-size:16px;"></i>
                        <i ng-if="!order.mailDateTime" class="fa fa-minus text-danger" style="font-size:16px;"></i>
                    </td>
                    <td>
                        {{order.documentTypeValue}}
                    </td>
                    <td>
                        {{order.documentDate | date: "dd.MM.yyyy" }}
                    </td>
                    <td>
                        {{order.documentNumber}}
                    </td>
                    <td>
                        <span ng-if="!$ctrl.hasViewPermission">
                            {{order.documentContent}}
                        </span>
                        <a ng-if="$ctrl.hasViewPermission" ui-sref="app.adm-order.order({id: order.documentID})">
                            {{order.documentContent}}
                        </a>
                    </td>
                    <td>
                        <span class="label label-{{order.documentStatusColor}}">
                            {{order.documentStatusValue}}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>

            <span ng-show="$ctrl.searchResult.totalElements === 0" class="text-danger ng-hide" aria-hidden="true">
                <span class="fa fa-times-circle"></span>
                <span>Записи не найдены</span>
            </span>

            <div class="m-b">
                <div class="clearfix">
                    <div class="pull-left m-b-xs" ng-show="$ctrl.searchResult.totalElements > 0" aria-hidden="false">
                        <ul uib-pagination
                            total-items="$ctrl.searchResult.totalElements"
                            ng-model="$ctrl.searchResult.pageNumber"
                            ng-change="$ctrl.reload()"
                            max-size="$ctrl.searchResult.pageSize"
                            class="pagination"
                            boundary-links="false"
                            boundary-link-numbers=true
							rotate=true
                            previous-text="Назад"
                            next-text="Далее"
                            num-pages="$ctrl.searchResult.totalPages">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </success>
    <error>
        <spam class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span></spam>
    </error>
</loading-block>