<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="nowrap center" width="110px"></th>
				<th class="nowrap center" width="60px">№ пп</th>
				<th class="nowrap center" width="200px">Вид действия</th>				
				<th class="nowrap center">ФИО и должность</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="agreed in $ctrl.order.approval.approvalCycle.agreed">
				<td>
					<button type="button" class="btn btn-xs btn-default"
						ng-click="$ctrl.delApproval($index)">
						<i class="fa fa-minus m-r-xs"></i>
					</button>
					<button type="button" class="btn btn-xs btn-default"
						ng-if="!$ctrl.isHead($index) && !$first"
						ng-click="$ctrl.swapApprovals($index, $index - 1)">
						<i class="fa fa-arrow-up m-r-xs"></i>
					</button>
					<button type="button" class="btn btn-xs btn-default"
						ng-if="!$last && !$ctrl.isHead($index) && !$ctrl.isHead($index + 1)"
						ng-click="$ctrl.swapApprovals($index, $index + 1)">
						<i class="fa fa-arrow-down m-r-xs"></i>
					</button>
				</td>
				<td>{{agreed.approvalNum}}</td>
				<td>
					<div>
						<select class="form-control our-select"
							ng-model="agreed.approvalTypeCode"
							ng-change="$ctrl.approvalTypeChanged($index)"
							ng-options="item.approvalTypeCode as item.approvalType for item in $ctrl.approvalTypes | approvalTypes:$ctrl.order.approval.approvalCycle.agreed:agreed">
						</select>
						<div class="pull-right">
							<span class="caret our-caret"></span>
						</div>
					</div>
				</td>				
				<td>
					<div ng-if="agreed.approvalTypeCode === $ctrl.ApprovalType.agreed">
						<ui-select ng-model="agreed.agreedBy" theme="bootstrap" append-to-body="true" ng-change="$ctrl.approvalChanged(); $ctrl.personSetTime($index)">
							<ui-select-match>
								{{$select.selected.fioFull}} ({{$select.selected.post}})
							</ui-select-match>
							<ui-select-choices repeat="item in $ctrl.approvers | filter: $select.search | orderBy: 'fioFull'">
								{{item.fioFull}} ({{item.post}})
							</ui-select-choices>
						</ui-select>
					</div>
					<div ng-if="agreed.approvalTypeCode === $ctrl.ApprovalType.assent">
						<ui-select ng-model="agreed.agreedBy" theme="bootstrap" append-to-body="true" ng-change="$ctrl.approvalChanged(); $ctrl.personSetTime($index)" >
							<ui-select-match>
								{{$select.selected.fioFull}} ({{$select.selected.post}})
							</ui-select-match>
							<ui-select-choices repeat="item in $ctrl.approvers | filter: $select.search | orderBy: 'fioFull'">
								{{item.fioFull}} ({{item.post}})
							</ui-select-choices>
						</ui-select>
					</div>					
					<div ng-if="agreed.approvalTypeCode === $ctrl.ApprovalType.approval">
						<ui-select ng-model="agreed.agreedBy" theme="bootstrap" append-to-body="true" ng-change="$ctrl.approvalChanged(); $ctrl.personSetTime($index)">
							<ui-select-match>
								{{$select.selected.fioFull}} ({{$select.selected.post}})
							</ui-select-match>
							<ui-select-choices repeat="item in $ctrl.executives | filter: $select.search | orderBy: 'fioFull'">
								{{item.fioFull}} ({{item.post}})
							</ui-select-choices>
						</ui-select>
					</div>
					<div ng-if="agreed.approvalTypeCode !== $ctrl.ApprovalType.agreed && agreed.approvalTypeCode !== $ctrl.ApprovalType.approval && agreed.approvalTypeCode !== $ctrl.ApprovalType.assent">
						<ui-select ng-model="agreed.agreedBy" theme="bootstrap" append-to-body="true"  ng-change="$ctrl.personSetTime($index)">
							<ui-select-match>
								{{$select.selected.fioFull}} ({{$select.selected.post}})
							</ui-select-match>
							<ui-select-choices repeat="item in [$select.selected]">
								{{item.fioFull}} ({{item.post}})
							</ui-select-choices>
						</ui-select>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<button type="button" class="btn btn-xs btn-default" ng-disabled="!$ctrl.canAdd()"
						ng-click="$ctrl.addApproval()">
						<i class="fa fa-plus m-r-xs"></i>
					</button>
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>