<div class="form-group">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <a>
            <div class="dropzone" id="attach-dropzone" name="attach-dropzone">
                <div class="dz-message m-t-lg m-b-lg">Загрузить файлы</div>
            </div>
        </a>
        <div class="clearfix"></div>
    </div>
</div>

