<div ng-show="$ctrl.history.approvalCycle.length > 0" ng-repeat="approval in $ctrl.history.approvalCycle | orderBy:'-'">
	<h4 ng-init="cycleShow = false" style="outline: none" ng-click="cycleShow = !cycleShow" class="m-t-md">
		<i style="margin-right: 5px;" class="fa fa-caret-right" ng-show="cycleShow === false"></i> <i style="margin-right: 5px;" class="fa fa-angle-down" ng-show="cycleShow === true"></i> Предыдущий цикл
		согласования от {{approval.approvalCycleDate | date:'dd.MM.yyyy'}}
	</h4>
	<div ng-show="cycleShow" style="margin-left: 20px;">
		<approval-list list="approval"></approval-list>
	</div>
</div>