<div class="semibold">
	{{$ctrl.order.documentTypeValue}}
	{{$ctrl.order.documentNumber ? '№ ' + $ctrl.order.documentNumber : ''}}
	{{$ctrl.order.documentDate ? 'от ' + ($ctrl.order.documentDate | date: 'dd.MM.yyyy') : ''}}
</div>
<a ui-sref="app.adm-order.order({id: $ctrl.order.documentID})"><h4 class="m-t-sm m-b-md semibold">{{$ctrl.order.documentContent}}</h4></a>
<div ng-show="$ctrl.taskDescription !== '' && $ctrl.isCollapsed === true">
    <small>
        <span>
            <i class="fa fa-question" style="font-size:13px;color:#337ab7;" aria-hidden="true"></i>
            <a ng-click="$ctrl.isCollapsed = false"> Описание задачи</a>
        </span>
    </small>
</div>
<div ng-show="$ctrl.taskDescription !== ''" uib-collapse="$ctrl.isCollapsed">
    <h4 style="margin-top: 0;">Описание задачи</h4>
    <div ng-bind-html="$ctrl.taskDescription"></div>
    <p>
        <a ng-click="$ctrl.isCollapsed = true">
            Скрыть описание
        </a>
    </p>
    <hr>
</div>
<h4>Информация</h4>
<div class="description">
	<dl class="dl-horizontal">
		<dt ng-if="$ctrl.order.address">
			<span>Адрес</span>
		</dt>
		<dd ng-if="$ctrl.order.address">
			{{$ctrl.order.address}}
		</dd>

		<dt ng-if="$ctrl.order.approvedDocumentNumber">
			<span>Номер связанного документа</span>
		</dt>
		<dd ng-if="$ctrl.order.approvedDocumentNumber">
			{{$ctrl.order.approvedDocumentNumber}}
		</dd>

		<dt ng-if="$ctrl.order.previousDocument"><span>Предыдущий документ</span></dt>
		<dd ng-if="$ctrl.order.previousDocument">
			<a ui-sref="app.adm-order.order({id: $ctrl.order.previousDocument.previousDocumentID})">
				{{$ctrl.order.previousDocument.previousDocumentNum}}
			</a>
		</dd>

		<dt ng-if="$ctrl.order.canceledDocument.canceledDocumentNum">
			<span>Анулируемый документ</span>
		</dt>
		<dd ng-if="$ctrl.order.canceledDocument.canceledDocumentNum">
			{{$ctrl.order.canceledDocument.canceledDocumentNum}}
		</dd>

		<dt ng-if="$ctrl.order.documentExpireDate">
			<span>Дата окончания действия</span>
		</dt>
		<dd ng-if="$ctrl.order.documentExpireDate">
			{{$ctrl.order.documentExpireDate | date: 'dd.MM.yyyy'}}
		</dd>

		<dt ng-if="$ctrl.order.documentThemeValue">
			<span>Тема</span>
		</dt>
		<dd ng-if="$ctrl.order.documentThemeValue">
			{{$ctrl.order.documentThemeValue}}
		</dd>

		<dt>
			<span>Руководитель, утверждающий документ</span>
		</dt>
		<dd>
			<span ng-if="$ctrl.order.head">{{$ctrl.order.head.fio}}</span>
			<span class="text-muted" ng-if="!$ctrl.order.head">отсутствует</span>
		</dd>

		<dt>
			<span>Исполнитель</span>
		</dt>
		<dd>
			<span ng-if="!$ctrl.order.executor || $ctrl.order.executor.length === 0" class="not-specified">
				отсутствует
			</span>
			<span ng-repeat="executor in $ctrl.order.executor">
            	{{executor.fio}}{{$last ? '' : ', '}}
            </span>
		</dd>

		<dt>
			<span>Ответственное управление</span>
		</dt>
		<dd>
			<span ng-if="$ctrl.order.responsibleDep.departmentFull">{{$ctrl.order.responsibleDep.departmentFull}}</span>
			<span class="text-muted" ng-if="!$ctrl.order.responsibleDep.departmentFull">отсутствует</span>
		</dd>

		<dt>
			<span>Ответственный исполнитель</span>
		</dt>
		<dd>
			<span ng-if="$ctrl.order.responsibleExecutor.fio">{{$ctrl.order.responsibleExecutor.fio}}</span>
			<span class="text-muted" ng-if="!$ctrl.order.responsibleExecutor.fio">отсутствует</span>
		</dd>

		<dt>
			<span>Список почтовой рассылки</span>
		</dt>
		<dd>
			<div ng-if="$ctrl.order.mailList">
				<div ng-repeat="item in $ctrl.order.mailList">
					{{item.fio}} ({{item.post}})
				</div>
			</div>
			<span class="text-muted" ng-if="!$ctrl.order.mailList">отсутствует</span>
		</dd>

		<dt ng-if="$ctrl.showDocumentComment">
			<span>Краткое описание</span>
		</dt>
		<dd ng-if="$ctrl.showDocumentComment">
			<span ng-if="$ctrl.order.documentComment">{{$ctrl.order.documentComment}}</span>
			<span class="text-muted" ng-if="!$ctrl.order.documentComment">отсутствует</span>
		</dd>

		<dt>
			<span>Штрихкод</span>
		</dt>
		<dd>
			<span ng-if="$ctrl.order.barcode">{{$ctrl.order.barcode}}</span>
			<span class="text-muted" ng-if="!$ctrl.order.barcode">отсутствует</span>
		</dd>

		<dt ng-if="$ctrl.order.additionalMaterials && $ctrl.order.additionalMaterials.length">
		<span>Дополнительные материалы</span>
	</dt>
		<dd ng-if="$ctrl.order.additionalMaterials && $ctrl.order.additionalMaterials.length"
			ng-repeat="file in $ctrl.order.additionalMaterials">
			<ex-file file-info="{ nameFile: file.fileName,
								  idFile:   file.fileID,
								  sizeFile: file.fileSize,
								  dateFile: file.fileDate,
								  signed:   file.fileSigned}"
					 show-size="true"
					 show-date="true"
			></ex-file>
		</dd>

		<dt>
			<span>Публикация на сайте</span>
		</dt>
		<dd>
			<span ng-if="$ctrl.order.PublishingSite">требуется</span>
			<span class="text-muted" ng-if="!$ctrl.order.PublishingSite">не требуется</span>
		</dd>

		<dt ng-if="$ctrl.showDocumentText">
			<span>Текст РД</span>
		</dt>
		<dd ng-if="$ctrl.showDocumentText">
			{{$ctrl.order.documentText}}
		</dd>

	</dl>
</div>
