<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Тип документа
	</label>
	<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
		{{$ctrl.order.documentTypeValue}}
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Год документа
	</label>
	<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
		{{$ctrl.order.documentYear}}
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Содержание <span class="our-mandatory">*</span>
	</label>
	<div class="col-lg-7 col-md-8 col-sm-9">
		<textarea class="form-control our-control" name="documentContent" rows="2" ng-model="$ctrl.order.documentContent" ng-required="true">
                    </textarea>
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Тема
	</label>
	<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
		{{$ctrl.order.documentThemeValue}}
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Текст приказа </label>
	<div class="col-lg-7 col-md-8 col-sm-9">
		<textarea class="form-control our-control" rows="2" ng-model="$ctrl.order.documentText">
                    </textarea>
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Адрес </label>
	<div class="col-lg-7 col-md-8 col-sm-9">
		<input name="address" type="text" class="form-control" ng-model="$ctrl.order.address">
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Требуется публикация на сайте </label>
	<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
		<label><input icheck type="checkbox" ng-model="$ctrl.order.PublishingSite" ng-checked="$ctrl.orderType.PUBLISHING"></label>
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Номер связанного документа </label>
	<div class="col-lg-7 col-md-8 col-sm-9">
		<input name="approvedDocumentNumber" type="text" class="form-control" ng-model="$ctrl.order.approvedDocumentNumber">
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Аннулируемый документ </label>
	<div class="col-lg-7 col-md-8 col-sm-9">
		<ui-select ng-model="$ctrl.order.canceledDocument"
				   limit="1"
				   theme="bootstrap">
			<ui-select-match placeholder="Аннулируемый документ"
							 allow-clear="true">
				<span>
					{{$select.selected.canceledDocumentType}} №
					{{$select.selected.canceledDocumentNum}} от
					{{$select.selected.canceledDocumentDate | date: "dd.MM.yyyy"}}
				</span>
			</ui-select-match>
			<ui-select-choices refresh="$ctrl.searchDocuments($select.search)"
							   refresh-delay="300"
							   repeat="item in $ctrl.availableCanceledDocuments">
				{{item.canceledDocumentType}} №
				{{item.canceledDocumentNum}} от
				{{item.canceledDocumentDate | date: "dd.MM.yyyy"}}
			</ui-select-choices>
		</ui-select>
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label">Уточняемый документ</label>
	<div class="col-lg-7 col-md-8 col-sm-9">
		<ui-select
				multiple
				ng-model="$ctrl.order.updatedDocument"
				ng-disabled="!$ctrl.availableUpdatedDocuments.length"
				theme="bootstrap">
			<ui-select-match placeholder="Уточняемый документ">
				<span ng-if="$item.updatedDocumentNum || $item.updatedDocumentType || $item.updatedDocumentDate">
					{{$item.updatedDocumentType | limitTo: 60}}
					{{$item.updatedDocumentNum ? '№ ' + $item.updatedDocumentNum : ''}}
					{{$item.updatedDocumentDate ? 'от' + ($item.updatedDocumentDate | date: "dd.MM.yyyy") : ''}}
				</span>
			</ui-select-match>
			<ui-select-choices refresh="$ctrl.searchDocuments($select.search)"
							   refresh-delay="300"
							   repeat="item in $ctrl.availableUpdatedDocuments">
				{{item.updatedDocumentType}} №
				{{item.updatedDocumentNum}} от
				{{item.updatedDocumentDate | date: "dd.MM.yyyy"}}
			</ui-select-choices>
		</ui-select>
	</div>
</div>

<div ng-if="$ctrl.preregFields && $ctrl.isPrereg">

	<div class="form-group">
		<label class="col-lg-3 col-md-3 col-sm-3 control-label">
			Регистрационный номер
		</label>
		<div class="col-lg-4 col-md-6 col-sm-9">
			<div class="input-group">
				<input name="documentNumber"
					   ng-model="$ctrl.order.documentNumber"
					   type="text"
					   class="form-control"
					   disabled>
				<span class="input-group-btn">
								<button type="button"
										class="btn btn-primary"
										ng-disabled="!$ctrl.hasPreregPermission"
										ng-click="$ctrl.generateDocumentNumber()">
									Зарегистрировать
								</button>
							</span>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Дата документа </label>
		<div class="col-lg-7 col-md-8 col-sm-9">
			<date-selector ng-model="$ctrl.order.documentDate"> </date-selector>
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Регистратор </label>
		<div class="col-lg-7 col-md-8 col-sm-9">
			<input name="registar" type="text" class="form-control" ng-model="$ctrl.order.registar" placeholder="{{$ctrl.account.fio}}" value="{{$ctrl.account}}"  disabled>
		</div>
	</div>

</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Дата окончания действия документа </label>
	<div class="col-lg-7 col-md-8 col-sm-9">
		<date-selector ng-model="$ctrl.order.documentExpireDate"> </date-selector>
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Руководитель, утверждающий документ <span class="our-mandatory">*</span>
	</label>
	<div class="col-lg-7 col-md-8 col-sm-9">
		<ui-select ng-if="!$ctrl.hasApproval()" ng-model="$ctrl.order.head" limit="1" theme="bootstrap" on-select="$ctrl.changeSelect()">
			<ui-select-match placeholder="Руководитель">{{$select.selected.fio}}</ui-select-match>
			<ui-select-choices  repeat="item in $ctrl.executives | userFilter: $select.search"> {{item.fio}} </ui-select-choices>
		</ui-select>
		<input type="text" class="form-control" ng-disabled="true" ng-if="$ctrl.hasApproval()" value="{{$ctrl.order.head.fio}} ({{$ctrl.order.head.post}})">
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Исполнители <span class="our-mandatory">*</span></label>
	<div class="col-lg-7 col-md-8 col-sm-9">
		<ui-select multiple ng-model="$ctrl.order.executor" ng-required="true" theme="bootstrap"> <ui-select-match placeholder="Исполнители">{{$item.fio}} ({{$item.post}}, {{$item.phoneNumber}})</ui-select-match>
			<ui-select-choices repeat="item in $ctrl.executors | userFilter: $select.search"> {{item.fio}} ({{item.post}}, {{item.phoneNumber}}) </ui-select-choices> </ui-select>
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Группы рассылки </label>
	<div class="col-lg-7 col-md-8 col-sm-9">
		<ui-select multiple ng-model="$ctrl.selectedEmailGroups" on-select="$ctrl.addEmailGroup($item)" theme="bootstrap"> <ui-select-match placeholder="Группы рассылки">{{$item.name}}</ui-select-match>
			<ui-select-choices repeat="item in $ctrl.emailGroups"> {{item.name}} </ui-select-choices> </ui-select>
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label"> Список почтовой рассылки <span class="our-mandatory">*</span></label>
	<div class="col-lg-7 col-md-8 col-sm-9">
		<ui-select multiple ng-model="$ctrl.order.mailList" ng-required="true" theme="bootstrap">
			<ui-select-match placeholder="Введите 2 символа, чтобы начать поиск">{{$item.fio}}
				({{$item.post}})</ui-select-match>
			<ui-select-choices minimum-input-length="2" repeat="item in $ctrl.subscribers | userFilter: $select.search | orderBy: 'fio' | limitTo:30">
				<div ng-bind-html="item.fio + ' (' + item.post + ')'"></div>
			</ui-select-choices>
		</ui-select>
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label">Подписание в электронном виде</label>
	<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
		<label> <input type="checkbox" icheck ng-model="$ctrl.order.signingElectronically" disabled="disabled">
		</label>
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label">Краткое описание <span class="our-mandatory">*</span>
	</label>
	
	<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
		<textarea class="form-control our-control" placeholder="Введите краткое описание документа для согласующих" rows="2" ng-model="$ctrl.order.documentComment" ng-required="true">
        </textarea>
	</div>
</div>

<div class="form-group">
	<label class="col-lg-3 col-md-3 col-sm-3 control-label">Дополнительные материалы</label>
	<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
		<a>
			<div class="dropzone ex-dropzone" options="$ctrl.dzAdditionalMaterialsOptions" callbacks="$ctrl.dzAdditionalMaterialsCallbacks"
				 methods="$ctrl.dzAdditionalMaterialsMethods" ng-dropzone>
			</div>
		</a>
		<div ng-if="$ctrl.order.additionalMaterials">
			<div ng-repeat="file in $ctrl.order.additionalMaterials">
				<ex-file file-info="{ nameFile: file.fileName,
								  	  idFile:   file.fileID,
								  	  sizeFile: file.fileSize,
								  	  dateFile: file.fileDate,
								  	  signed:   file.fileSigned}"
						 show-size="true"
						 show-date="true"
						 deletable="true"
						 on-remove="$ctrl.deleteAdditionalMaterial(fileInfo)"
				></ex-file>
			</div>
		</div>
	</div>
</div>