<div class="row animated fadeIn">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="ibox-content ibox float-e-margins" ui-view></div>
        </div>
    </div>
</div>
<footer></footer>
