<loading-block loading-status="$ctrl.loadingStatus" class="break-word">
    <loading>
        <spinner type="'circle'"/>
    </loading>
    <success>


    	<process-order-info order="$ctrl.order" task-info="$ctrl.taskInfo" show-document-text="$ctrl.showDocumentText"></process-order-info>

  		<h4 class="m-t-lg">Проект приказа</h4>

  		<div ng-if="$ctrl.order.draftFiles">
        <ex-file file-info="{ nameFile: $ctrl.order.draftFiles.draftFilesName,
  					  idFile:   $ctrl.order.draftFiles.draftFilesID,
  					  sizeFile: $ctrl.order.draftFiles.draftFilesSize,
  					  dateFile: $ctrl.order.draftFiles.draftFilesDate,
  					  signed:   $ctrl.order.draftFiles.draftFilesSigned}"
                 show-size="true"
                 show-date="true"
                 sign-mobile="$ctrl.openDraftSignDialog"
                 save-sign-operation-id="$ctrl.saveSignOperationIds"
                 after-sign="$ctrl.afterDraftSignBound"
        ></ex-file>
  		</div>

      <div style="display: none">
          <ex-file file-info="$ctrl.orderFile"
                   show-size="false"
                   show-date="false"
                   sign-mobile="$ctrl.openSignDialog"
                   before-sign="$ctrl.beforeSignBound"
                   save-sign-operation-id="$ctrl.saveSignOperationIds"
                   after-sign="$ctrl.afterSignBound"
          ></ex-file>
      </div>

    <div ng-if="$ctrl.order.approval.approvalCycle.approvalCycleNum && $ctrl.order.approval.approvalCycle.approvalCycleNum !== '1'">
      <h4 class="m-t-xs">Лист согласования ({{$ctrl.order.approval.approvalCycle.approvalCycleNum}})</h4>
    </div>
    <div ng-if="!$ctrl.order.approval.approvalCycle.approvalCycleNum || $ctrl.order.approval.approvalCycle.approvalCycleNum === '1'">
      <h4 class="m-t-xs">Лист согласования</h4>
    </div>
    <mobile-approval-list list="$ctrl.order.approval.approvalCycle"></mobile-approval-list>

		<process-approval-history history="$ctrl.order.approvalHistory"></process-approval-history>

		<h4 class="m-t-lg">Ваше решение</h4>

		<form method="get" class="form-horizontal" name="orderApproveForm">

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Комментарий
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <textarea class="form-control our-control"
                    		  name="approvalNote"
                              rows="2"
                              ng-model="$ctrl.approvalNote">
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Файл
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
	                <a>
	                    <div class="dropzone" id="file-dropzone" name="file-dropzone">
	                        <div class="dz-message m-t-lg m-b-lg">Загрузить файл</div>
	                    </div>
	                </a>
	                <div ng-if="$ctrl.agreed[$ctrl.loopCounter].fileApproval">
	                	<div ng-repeat="file in $ctrl.agreed[$ctrl.loopCounter].fileApproval">
                            <ex-file file-info="{ nameFile: file.fileName,
								                  idFile:   file.fileID,
								                  sizeFile: file.fileSize,
								                  dateFile: file.fileDate,
								                  signed:   file.fileSigned}"
                                     show-size="true"
                                     show-date="true"
                                     deletable="true"
                                     on-remove="$ctrl.deleteApprovalFile(fileInfo)"
                            ></ex-file>
	                	</div>
	                </div>
                </div>
            </div>

            <div class="alert alert-warning" ng-if="$ctrl.approvalState" style="display: none">
              <h4>Внимание</h4>
              <p>Для согласования требуется электронная
                подпись: вставьте свой сертификат
                электронной подписи в компьютер и нажмите
                кнопку "Согласовано". Далее следуйте
                инструкциям формы.
                При выборе варианта "Не согласовано" поле
                "Комментарий" обязательно для заполнения".
              </p>
            </div>

            <div class="form-group" id="control-block">
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <span ng-if="$ctrl.signingEDS === 'true'">
                        <span ng-if="$ctrl.checkSign == 'none'">
                            <button type="button"
                                    ng-if="!$ctrl.approvalState || !$ctrl.order.signingElectronically"
                                    class="btn btn-sm btn-success"
                                    ng-disabled="true"
                                    style="margin-bottom: 26px;"
                                >
                                <i class="fa m-r-xs"></i>Обратитесь к администратору
                            </button>
                        </span>
                        <span ng-if="$ctrl.checkSign != 'none'">
                            <button type="button"
                                ng-if="!$ctrl.approvalState || !$ctrl.order.signingElectronically"
                                class="btn btn-sm btn-success btn-success-blue"
                                ng-class = "$ctrl.agreeing ? 'svg-spinner': ''"
                                ng-click="$ctrl.agreeAndSendForwardHandler()"
                                ng-disabled="$ctrl.approving || $ctrl.sendingBackToWork || $ctrl.addingApprovals || $ctrl.signButtondisabled"
                                    style="margin-bottom: 26px;"
                            >
                                <i class="fa m-r-xs"></i>Согласовано
                            </button>
                        </span>
                    </span>
                    <span ng-if="$ctrl.signingEDS === 'false'">
                        <button type="button"
                                ng-if="!$ctrl.approvalState || !$ctrl.order.signingElectronically"
                                class="btn btn-sm btn-success "
                                ng-class = "$ctrl.agreeing ? 'svg-spinner': ''"
                                ng-click="$ctrl.agreeAndSendForwardHandler()"
                                ng-disabled="$ctrl.approving || $ctrl.sendingBackToWork || $ctrl.addingApprovals || $ctrl.signButtondisabled"
                                style="margin-bottom: 26px;"
                        >
                            <i class="fa m-r-xs"></i>Согласовано
                        </button>
                    </span>
                    <button type="button"
                            ng-if="$ctrl.approvalState && $ctrl.order.signingElectronically"
                            class="btn btn-sm btn-success  btn-success-blue"
                            ng-click="$ctrl.approveAndSendForward()"
                            ng-class = "$ctrl.approving ? 'svg-spinner': ''"
                            ng-disabled="$ctrl.sendingBackToWork || $ctrl.agreeing || $ctrl.addingApprovals || $ctrl.signButtondisabled"
                   	>
                        <i class="fa m-r-xs"></i>Утверждено
                    </button>
                    <button type="button"
                            class="btn btn-sm btn-danger"
                            ng-click="$ctrl.sendBackToWork()"
                            ladda="$ctrl.sendingBackToWork"
                            data-spinner-size="18"
                            data-spinner-color="#FFFFFF"
                            data-style="expand-right"
                            ng-disabled="$ctrl.agreeing || $ctrl.approving || $ctrl.addingApprovals"
                   	>
                        <i class="fa m-r-xs"></i>На доработку
                    </button>
                    <button type="button"
                            class="btn btn-sm btn-info"
                            ng-click="$ctrl.addApproval()"
                    >
                        <i class="fa m-r-xs"></i>Добавить согласующего
                    </button>
                </div>
            </div>

		</form>

    </success>
    <error>
        <span class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span></span>
    </error>
</loading-block>
