@import "../bower_components/oasi-main-theme/dist/oasi-main-theme";
@import "../bower_components/metisMenu/dist/metisMenu";
@import "../bower_components/oasi-widgets/dist/oasi-widgets";

@import "styles/variables";
@import "styles/custom";

@import "../bower_components/oasi-skeleton/dist/oasi-skeleton";
@import "../bower_components/oasi-file-manager/dist/oasi-file-manager";

//@import "skins/blue.css";
@import "styles/our";

@import "styles/mobile/mobile";

.therd-leg {
  background-image: url(./styles/images/orange.png);
}
span.ui-select-choices-row-inner span{
  white-space: normal !important;
}