<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="nowrap center" width="5%">№ пп</th>
				<th class="nowrap center" width="27%">ФИО и должность</th>
				<th class="nowrap center" width="17%">Вид действия</th>
				<th class="nowrap center" width="15%">Срок согласования</th>
				<th class="nowrap center" width="14%">Результат</th>
				<th class="nowrap center">Комментарии</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in $ctrl.list.agreed">
				<td class="center">{{item.approvalNum}}</td>
				<td>
					<div class="semibold">{{item.agreedBy.fioFull}}</div>
					<div>{{item.agreedBy.post}}</div>
				</td>
				<td class="center">
					{{item.approvalType}}
				</td>
				<td class="center">
					{{item.approvalPlanDate | date: "dd.MM.yyyy HH:mm"}}
				</td>
				<td class="center">
					<span ng-if="!item.approvalResult" class="label label-default">Ожидание</span>
					<span ng-if="item.approvalResult" class="label {{$ctrl.getApprovalResultColor(item.approvalTypeCode, item.approvalResult)}}">{{item.approvalResult}}</span>
					<div ng-if="item.approvalFactDate"><label>{{item.approvalFactDate | date: "dd.MM.yyyy HH:mm"}}</label></div>
				</td>
				<td>

					<div ng-if="item.added" class="m-b-sm">
						<div class="semibold">Добавление согласующего</div>
						<div ng-repeat="addedItem in item.added">
							<span class="semibold">{{addedItem.additionalAgreed.iofShort}}:</span> {{addedItem.addedNote}}
						</div>
					</div>

					<div ng-if="!(item.approvalResult=='Не согласовано' || item.approvalResult=='Не утверждено') && item.approvalNote">
						<div class="semibold">{{item.approvalResult}}</div>
						<div>{{item.approvalNote}}</div>
					</div>

					<div ng-if="(item.approvalResult=='Не согласовано' || item.approvalResult=='Не утверждено') && item.approvalNote">
						<div class="semibold">На доработку</div>
						<div>{{item.approvalNote}}</div>
					</div>

                   	<div ng-repeat="file in item.fileApproval" class="m-t-xs">
                        <a href="{{$ctrl.getFileLink(file.fileID)}}"
                           class="text-default"
                           title="{{file.fileName}}"
                        >
                            <file-icon file-name="file.fileName"/>
                        </a>
					</div>

				</td>
			</tr>
		</tbody>
	</table>
</div>
