<div class="ibox-content" ng-repeat="item in $ctrl.list.agreed">
	<div class="mob-approve-item">
		<div class="mob-approve-item-num">
			<span>{{item.approvalNum}}</span>
		</div>
		<div class="mob-approve-item-content">
			<div class="approval-type m-b-xs">{{item.approvalType}} {{item.approvalPlanDate | date: "dd.MM.yyyy HH:mm"}}</div>
			<div class="m-b-xs">
				<div class="semibold">{{item.agreedBy.fioFull}}
					<span ng-if="item.approvalNote || (item.added && $ctrl.addedHasNote(item.added)) || (item.fileApproval && item.fileApproval.length > 0)" class="fa fa-comment text-danger ng-scope"></span>
				</div>
				<div>{{item.agreedBy.post}}</div>
			</div>
			<div class="m-b-xs">
				<span ng-if="!item.approvalResult" class="label label-default">Ожидание</span>
				<span ng-if="item.approvalResult" class="label {{$ctrl.getApprovalResultColor(item.approvalTypeCode, item.approvalResult)}}">{{item.approvalResult}}</span>
				<span ng-if="item.approvalFactDate"><label>{{item.approvalFactDate | date: "dd.MM.yyyy HH:mm"}}</label></span>
			</div>
			<div>
				<div ng-if="item.added" class="m-b-xs">
					<div class="semibold">Добавление согласующего</div>
					<div ng-repeat="addedItem in item.added">
						<span class="semibold">{{addedItem.additionalAgreed.iofShort}}:</span> {{addedItem.addedNote}}
					</div>
				</div>

				<div ng-if="!(item.approvalResult=='Не согласовано' || item.approvalResult=='Не утверждено') && item.approvalNote">
					<div class="semibold">{{item.approvalResult}}</div>
					<div>{{item.approvalNote}}</div>
				</div>

				<div ng-if="(item.approvalResult=='Не согласовано' || item.approvalResult=='Не утверждено') && item.approvalNote">
					<div class="semibold">На доработку</div>
					<div>{{item.approvalNote}}</div>
				</div>

									<div ng-repeat="file in item.fileApproval" class="m-t-xs">
											<a href="{{$ctrl.getFileLink(file.fileID)}}"
												 class="text-default"
												 title="{{file.fileName}}"
											>
													<file-icon file-name="file.fileName"/>
											</a>
				</div>

			</div>
		</div>
	</div>
</div>
